<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>shop</key>
	<dict>
		<key>cost</key>
		<string>0</string>
		<key>description</key>
		<string>6x Multiplier</string>
		<key>icon</key>
		<string>flamethrower.png</string>
		<key>name</key>
		<string>6x</string>
		<key>identifier</key>
		<string>6xcoins</string>
		<key>type</key>
		<string>powerup</string>
	</dict>
</dict>
</plist>
