<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chunks</key>
	<array>
		<array>
			<string>tutorial-jumpUp.tmx</string>
		</array>
		<array>
			<string>tutorial-postJumpUp.tmx</string>
		</array>
		<array>
			<string>tutorial-doubleJump.tmx</string>
		</array>
		<array>
			<string>tutorial-doubleJump.tmx</string>
		</array>
		<array>
			<string>tutorial-postJumpDown.tmx</string>
		</array>
		<array>
			<string>tutorial-dropship.tmx</string>
		</array>
		<array>
			<string>tutorial-finish.tmx</string>
		</array>
	</array>
	<key>firstChunk</key>
	<string>tutorial-start.tmx</string>
	<key>overrideChunk</key>
	<string></string>
	<key>backgroundColor</key>
	<string>170, 221, 238</string>
	<key>highMemParallax</key>
	<array>
		<dict>
			<key>images</key>
			<array>
				<string>sky_far.png</string>
			</array>
			<key>imageWidth</key>
			<integer>960</integer>
			<key>ratio</key>
			<string>{0.05,0.05}</string>
			<key>y</key>
			<integer>0</integer>
			<key>seamless</key>
			<true/>
		</dict>
		<dict>
			<key>images</key>
			<array>
				<string>backbackrefinery.png</string>
				<string>backbackpeak.png</string>
				<string>backbackmountain.png</string>
				<string>backbackspires.png</string>
			</array>
			<key>imageWidth</key>
			<integer>960</integer>
			<key>ratio</key>
			<string>{0.125,0.125}</string>
			<key>y</key>
			<integer>0</integer>
			<key>seamless</key>
			<false/>
		</dict>
		<dict>
			<key>images</key>
			<array>
				<string>cloud1.png</string>
				<string>cloud2.png</string>
			</array>
			<key>imageWidth</key>
			<integer>960</integer>
			<key>ratio</key>
			<string>{0.25,0.25}</string>
			<key>y</key>
			<integer>300</integer>
			<key>seamless</key>
			<false/>
		</dict>
		<dict>
			<key>images</key>
			<array>
				<string>backforest1.png</string>
				<string>backforest2.png</string>
				<string>backforest3.png</string>
			</array>
			<key>imageWidth</key>
			<integer>960</integer>
			<key>ratio</key>
			<string>{0.2,0.2}</string>
			<key>y</key>
			<integer>0</integer>
			<key>seamless</key>
			<true/>
		</dict>
		<dict>
			<key>images</key>
			<array>
				<string>frontforest1.png</string>
				<string>frontforest2.png</string>
				<string>frontforest3.png</string>
				<string>frontforest4.png</string>
				<string>frontforest5.png</string>
				<string>frontforest6.png</string>
			</array>
			<key>imageWidth</key>
			<integer>960</integer>
			<key>ratio</key>
			<string>{0.35,0.35}</string>
			<key>y</key>
			<integer>0</integer>
			<key>seamless</key>
			<true/>
		</dict>
		<dict>
			<key>images</key>
			<array>
				<string>backfog.png</string>
			</array>
			<key>imageWidth</key>
			<integer>960</integer>
			<key>ratio</key>
			<string>{0.55,0.55}</string>
			<key>y</key>
			<integer>0</integer>
			<key>seamless</key>
			<true/>
		</dict>
	</array>
	<key>lowMemParallax</key>
	<array>
		<dict>
			<key>images</key>
			<array>
				<string>sky_far.png</string>
			</array>
			<key>imageWidth</key>
			<integer>960</integer>
			<key>ratio</key>
			<string>{0.05,0.05}</string>
			<key>y</key>
			<integer>0</integer>
			<key>seamless</key>
			<true/>
		</dict>
		<dict>
			<key>images</key>
			<array>
				<string>backforest1.png</string>
				<string>backforest2.png</string>
				<string>backforest3.png</string>
			</array>
			<key>imageWidth</key>
			<integer>960</integer>
			<key>ratio</key>
			<string>{0.2,0.2}</string>
			<key>y</key>
			<integer>0</integer>
			<key>seamless</key>
			<true/>
		</dict>
		<dict>
			<key>images</key>
			<array>
				<string>frontforest1.png</string>
				<string>frontforest2.png</string>
				<string>frontforest3.png</string>
				<string>frontforest4.png</string>
				<string>frontforest5.png</string>
				<string>frontforest6.png</string>
			</array>
			<key>imageWidth</key>
			<integer>960</integer>
			<key>ratio</key>
			<string>{0.35,0.35}</string>
			<key>y</key>
			<integer>0</integer>
			<key>seamless</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
