<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>minion</key>
	<array>
		<string>SUCCUMBING TO YOUR ENEMIES</string>
		<string>BEING DESTROYED BY MUTANTS</string>
		<string>YOU WERE OVERPOWERED</string>
		<string>BEING TORN TO PIECES</string>
		<string>DYING A HORRIBLE DEATH</string>
	</array>
	<key>fall</key>
	<array>
		<string>YOU FELL INTO A BLACK VOID</string>
		<string>FALLING TO YOUR DOOM</string>
		<string>SLIPPING THROUGH A CRACK</string>
		<string>DISAPPEARING DOWN A RABBIT HOLE</string>
		<string>DROPPING TO THE DEEPEST DEPTHS</string>
		<string>LOSING YOUR FOOTING</string>
		<string>TRIPPING ON YOUR SHOELACES</string>
	</array>
	<key>default</key>
	<array>
		<string>DYING</string>
	</array>
	<key>miniboss</key>
	<array>
		<string>BEING CRUSHED</string>
		<string>GETTING ANNIHILATED</string>
		<string>LOSING YOUR HEAD</string>
		<string>COLLIDING WITH A 10 TON SHIP</string>
		<string>SPLATTERING ON THAT SHIP&apos;S WINDSHIELD</string>
	</array>
	<key>bullet</key>
	<array>
		<string>EATING A SLICE OF BULLET PIE</string>
		<string>EATING A BULLET PIZZA</string>
		<string>EATING A BULLET BREAKFAST SANDWICH</string>
		<string>EATING A SLICE OF BULLET CAKE</string>
		<string>EATING A BASKET OF BULLETS</string>
		<string>EATING A BUSHEL OF BULLETS</string>
		<string>DRINKING A LITER OF BULLETS</string>
		<string>EATING A BULLET SUNDAE</string>
		<string>EATING A BULLET SALAD</string>
		<string>EATING SOME BULLET SOUP</string>
	</array>
</dict>
</plist>
