<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tileCenterOffset</key>
	<integer>50</integer>
	<key>startOffset</key>
	<string>{0,-20}</string>
	<key>baseHealth</key>
	<integer>5</integer>
	<key>healthIncrease</key>
	<integer>2</integer>
	<key>baseSpeed</key>
	<integer>450</integer>
	<key>speedIncrease</key>
	<integer>20</integer>
	<key>baseCoins</key>
	<integer>5</integer>
	<key>coinsIncrease</key>
	<integer>1</integer>
	<key>gravity</key>
	<integer>0</integer>
	<key>collisionShape</key>
	<string>flyer1</string>
	<key>animation</key>
	<string>enemyFlyer</string>
	<key>heartChance</key>
	<real>0.01</real>
</dict>
</plist>
