<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>type</key>
	<string>walking</string>
	<key>tileCenterOffset</key>
	<integer>20</integer>
	<key>startOffset</key>
	<string>{0,0}</string>
	<key>health</key>
	<integer>8</integer>
	<key>gravity</key>
	<integer>40</integer>
	<key>speed</key>
	<dict>
		<key>x</key>
		<integer>400</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>coins</key>
	<integer>3</integer>
	<key>collisionShape</key>
	<string>enemy_soldier4</string>
	<key>animation</key>
	<string>enemyInfectedSoldier</string>
</dict>
</plist>
