<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tileCenterOffset</key>
	<integer>20</integer>
	<key>startOffset</key>
	<string>{0,0}</string>
	<key>baseHealth</key>
	<integer>6</integer>
	<key>healthIncrease</key>
	<integer>2</integer>
	<key>baseSpeed</key>
	<integer>465</integer>
	<key>speedIncrease</key>
	<integer>10</integer>
	<key>baseCoins</key>
	<integer>6</integer>
	<key>coinsIncrease</key>
	<integer>1</integer>
	<key>gravity</key>
	<integer>40</integer>
	<key>collisionShape</key>
	<string>enemy_soldier4</string>
	<key>animation</key>
	<string>enemyInfectedSoldier</string>
	<key>heartChance</key>
	<real>0.01</real>
</dict>
</plist>
