<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pieces</key>
	<array>
		<dict>
			<key>type</key>
			<string>backtentacle</string>
			<key>collisionShape</key>
			<string>backtentacle</string>
			<key>image</key>
			<string>backtentacle.png</string>
			<key>position</key>
			<string>{156,223}</string>
			<key>particles</key>
			<string>minibossHitParticle.plist</string>
		</dict>
		<dict>
			<key>type</key>
			<string>body</string>
			<key>collisionShape</key>
			<string>bossbody</string>
			<key>image</key>
			<string>bossbody.png</string>
			<key>position</key>
			<string>{0,0}</string>
			<key>particles</key>
			<string>minibossHitParticle.plist</string>
		</dict>
		<dict>
			<key>type</key>
			<string>laserblast</string>
			<key>image</key>
			<string>laserblastAndHighlight.png</string>
			<key>position</key>
			<string>{27,158}</string>
		</dict>
		<dict>
			<key>type</key>
			<string>head</string>
			<key>collisionShape</key>
			<string>boss1</string>
			<key>image</key>
			<string>boss1.png</string>
			<key>position</key>
			<string>{94,290}</string>
			<key>anchor</key>
			<string>{1,0}</string>
			<key>particles</key>
			<string>minibossHitParticle.plist</string>
		</dict>
		<dict>
			<key>type</key>
			<string>fronttentacle</string>
			<key>collisionShape</key>
			<string>fronttentacle</string>
			<key>image</key>
			<string>fronttentacle.png</string>
			<key>position</key>
			<string>{266,34}</string>
			<key>particles</key>
			<string>minibossHitParticle.plist</string>
		</dict>
	</array>
	<key>sounds</key>
	<dict>
		<key>hit</key>
		<string>dullthud.wav</string>
		<key>death</key>
		<string>dropshipexplosion.wav</string>
	</dict>
	<key>health</key>
	<integer>5000</integer>
	<key>size</key>
	<string>{493,640}</string>
	<key>aiStages</key>
	<array>
		<dict>
			<key>health</key>
			<real>0.33</real>
			<key>topWeapons</key>
			<array>
				<string>bossTop 1-3</string>
				<string>bossTop 1-2</string>
				<string>bossTop 1-1</string>
			</array>
			<key>bottomWeapons</key>
			<array>
				<string>bossBottom 1-3</string>
				<string>bossBottom 1-2</string>
				<string>bossBottom 1-1</string>
			</array>
		</dict>
		<dict>
			<key>health</key>
			<real>0.66</real>
			<key>topWeapons</key>
			<array>
				<string>bossTop 2-3</string>
				<string>bossTop 2-2</string>
				<string>bossTop 2-1</string>
			</array>
			<key>bottomWeapons</key>
			<array>
				<string>bossBottom 2-3</string>
				<string>bossBottom 2-2</string>
				<string>bossBottom 2-1</string>
			</array>
		</dict>
		<dict>
			<key>health</key>
			<integer>1</integer>
			<key>chooseOnlyOne</key>
			<true/>
			<key>topWeapons</key>
			<array>
				<string>bossTop 3-1</string>
				<string>bossTop 3-2</string>
				<string>bossTop 3-3</string>
			</array>
			<key>bottomWeapons</key>
			<array>
				<string>bossBottom 3-1</string>
				<string>bossBottom 3-2</string>
				<string>bossBottom 3-3</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
