<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angles</key>
	<array>
		<integer>0</integer>
	</array>
	<key>behaviors</key>
	<array/>
	<key>maxAngleOffset</key>
	<integer>0</integer>
	<key>maxLifetime</key>
	<real>2.5</real>
	<key>maxNumBullets</key>
	<integer>1</integer>
	<key>maxSpeed</key>
	<integer>400</integer>
	<key>minAngleOffset</key>
	<integer>0</integer>
	<key>minLifetime</key>
	<real>2.5</real>
	<key>minNumBullets</key>
	<integer>1</integer>
	<key>minSpeed</key>
	<integer>400</integer>
	<key>rateOfFire</key>
	<real>0.35</real>
	<key>sprite</key>
	<string>yellowbullet.png</string>
	<key>sound</key>
	<string>burstshot.wav</string>
	<key>volume</key>
	<integer>1</integer>
	<key>damage</key>
	<integer>2</integer>
	<key>particles</key>
	<string>machinegunBlast.plist</string>
	<key>collisionShape</key>
	<string>yellowbullet</string>
</dict>
</plist>
