<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angles</key>
	<array>
		<integer>0</integer>
	</array>
	<key>behaviors</key>
	<array>
		<dict>
			<key>maxRange</key>
			<dict>
				<key>high</key>
				<string>200</string>
				<key>low</key>
				<string>200</string>
			</dict>
			<key>minRange</key>
			<dict>
				<key>high</key>
				<string>0</string>
				<key>low</key>
				<string>0</string>
			</dict>
			<key>curve</key>
			<string>ease</string>
			<key>loop</key>
			<true/>
			<key>property</key>
			<string>y</string>
			<key>repeat</key>
			<false/>
			<key>speed</key>
			<real>1</real>
			<key>start</key>
			<string>min</string>
		</dict>
	</array>
	<key>blend</key>
	<false/>
	<key>maxAngleOffset</key>
	<integer>0</integer>
	<key>maxLifetime</key>
	<integer>1</integer>
	<key>maxNumBullets</key>
	<integer>1</integer>
	<key>maxSpeed</key>
	<integer>550</integer>
	<key>minAngleOffset</key>
	<integer>0</integer>
	<key>minLifetime</key>
	<integer>1</integer>
	<key>minNumBullets</key>
	<integer>1</integer>
	<key>minSpeed</key>
	<integer>550</integer>
	<key>rateOfFire</key>
	<real>0.75</real>
	<key>sprite</key>
	<string>shell.png</string>
	<key>damage</key>
	<real>12.5</real>
	<key>collisionShape</key>
	<string>shell</string>
</dict>
</plist>
