<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>patterns</key>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{0,36}</string>
			<string>{0,72}</string>
			<string>{0,108}</string>
			<string>{36,0}</string>
			<string>{36,36}</string>
			<string>{36,72}</string>
			<string>{36,108}</string>
			<string>{72,0}</string>
			<string>{72,36}</string>
			<string>{72,72}</string>
			<string>{72,108}</string>
			<string>{108,0}</string>
			<string>{108,36}</string>
			<string>{108,72}</string>
			<string>{108,108}</string>
		</array>
		<array>
			<string>{0,32}</string>
			<string>{0,64}</string>
			<string>{32,64}</string>
			<string>{32,96}</string>
			<string>{64,96}</string>
			<string>{64,128}</string>
			<string>{96,128}</string>
			<string>{96,160}</string>
			<string>{128,160}</string>
			<string>{128,128}</string>
			<string>{160,160}</string>
			<string>{160,128}</string>
			<string>{192,128}</string>
			<string>{192,96}</string>
			<string>{224,96}</string>
			<string>{224,64}</string>
			<string>{256,64}</string>
			<string>{256,32}</string>
			<string>{288,64}</string>
			<string>{288,32}</string>
			<string>{320,64}</string>
			<string>{320,96}</string>
			<string>{352,96}</string>
			<string>{352,128}</string>
			<string>{384,128}</string>
			<string>{384,160}</string>
			<string>{416,128}</string>
			<string>{416,160}</string>
			<string>{448,160}</string>
		</array>
		<array>
			<string>{0,0}</string>
			<string>{0,64}</string>
			<string>{32,32}</string>
			<string>{64,0}</string>
			<string>{64,64}</string>
			<string>{96,32}</string>
			<string>{128,0}</string>
			<string>{128,64}</string>
			<string>{160,32}</string>
			<string>{192,0}</string>
			<string>{192,64}</string>
			<string>{224,32}</string>
			<string>{256,0}</string>
			<string>{256,64}</string>
			<string>{288,32}</string>
			<string>{320,0}</string>
			<string>{320,64}</string>
			<string>{352,32}</string>
			<string>{384,0}</string>
			<string>{384,64}</string>
			<string>{416,32}</string>
			<string>{448,0}</string>
			<string>{448,64}</string>
			<string>{480,32}</string>
			<string>{512,0}</string>
			<string>{512,64}</string>
		</array>
		<array>
			<string>{0,0}</string>
			<string>{32,0}</string>
			<string>{64,0}</string>
			<string>{96,32}</string>
			<string>{128,32}</string>
			<string>{160,32}</string>
			<string>{192,64}</string>
			<string>{224,64}</string>
			<string>{256,64}</string>
			<string>{288,96}</string>
			<string>{320,96}</string>
			<string>{352,96}</string>
			<string>{384,128}</string>
			<string>{416,128}</string>
			<string>{448,128}</string>
			<string>{480,160}</string>
			<string>{512,160}</string>
		</array>
		<array>
			<string>{0,224}</string>
			<string>{0,192}</string>
			<string>{32,224}</string>
			<string>{32,192}</string>
			<string>{64,224}</string>
			<string>{64,192}</string>
			<string>{96,224}</string>
			<string>{96,192}</string>
			<string>{128,224}</string>
			<string>{128,192}</string>
			<string>{160,224}</string>
			<string>{160,192}</string>
			<string>{192,224}</string>
			<string>{192,192}</string>
			<string>{224,224}</string>
			<string>{224,192}</string>
			<string>{256,224}</string>
			<string>{256,192}</string>
			<string>{288,224}</string>
			<string>{288,192}</string>
			<string>{320,224}</string>
			<string>{320,192}</string>
			<string>{352,224}</string>
			<string>{352,192}</string>
			<string>{384,224}</string>
			<string>{384,192}</string>
			<string>{416,224}</string>
			<string>{416,192}</string>
			<string>{448,224}</string>
			<string>{448,192}</string>
			<string>{480,224}</string>
			<string>{480,192}</string>
			<string>{512,224}</string>
			<string>{512,192}</string>
		</array>
		<array>
			<string>{0,0}</string>
			<string>{32,32}</string>
			<string>{64,64}</string>
			<string>{96,96}</string>
			<string>{128,128}</string>
			<string>{160,160}</string>
			<string>{192,192}</string>
			<string>{224,224}</string>
			<string>{256,256}</string>
			<string>{288,224}</string>
			<string>{320,192}</string>
			<string>{352,160}</string>
			<string>{384,128}</string>
			<string>{416,96}</string>
			<string>{448,64}</string>
			<string>{480,32}</string>
			<string>{512,0}</string>
		</array>
		<array>
			<string>{0,128}</string>
			<string>{0,0}</string>
			<string>{32,128}</string>
			<string>{32,0}</string>
			<string>{64,128}</string>
			<string>{64,0}</string>
			<string>{96,96}</string>
			<string>{96,32}</string>
			<string>{128,96}</string>
			<string>{128,32}</string>
			<string>{160,96}</string>
			<string>{160,32}</string>
			<string>{192,64}</string>
			<string>{224,64}</string>
			<string>{256,64}</string>
			<string>{288,64}</string>
			<string>{320,64}</string>
			<string>{352,96}</string>
			<string>{352,32}</string>
			<string>{384,96}</string>
			<string>{384,32}</string>
			<string>{416,96}</string>
			<string>{416,32}</string>
			<string>{448,128}</string>
			<string>{448,0}</string>
			<string>{480,128}</string>
			<string>{480,0}</string>
			<string>{512,128}</string>
			<string>{512,0}</string>
		</array>
		<array>
			<string>{0,0}</string>
			<string>{32,32}</string>
			<string>{64,64}</string>
			<string>{96,96}</string>
			<string>{128,128}</string>
			<string>{160,160}</string>
			<string>{192,192}</string>
			<string>{224,224}</string>
			<string>{256,256}</string>
			<string>{288,224}</string>
			<string>{320,192}</string>
			<string>{352,160}</string>
			<string>{384,128}</string>
			<string>{416,96}</string>
			<string>{448,64}</string>
			<string>{480,32}</string>
			<string>{512,0}</string>
			<string>{32,0}</string>
			<string>{64,0}</string>
			<string>{96,0}</string>
			<string>{128,0}</string>
			<string>{160,0}</string>
			<string>{192,0}</string>
			<string>{224,0}</string>
			<string>{256,0}</string>
			<string>{288,0}</string>
			<string>{320,0}</string>
			<string>{352,0}</string>
			<string>{384,0}</string>
			<string>{416,0}</string>
			<string>{448,0}</string>
			<string>{480,0}</string>
		</array>
		<array>
			<string>{0,128}</string>
			<string>{32,128}</string>
			<string>{64,128}</string>
			<string>{96,128}</string>
			<string>{128,128}</string>
			<string>{160,128}</string>
			<string>{192,128}</string>
			<string>{224,128}</string>
			<string>{256,128}</string>
			<string>{288,128}</string>
			<string>{320,128}</string>
			<string>{352,128}</string>
			<string>{384,128}</string>
			<string>{416,128}</string>
			<string>{448,128}</string>
			<string>{480,128}</string>
			<string>{512,128}</string>
			<string>{0,96}</string>
			<string>{32,96}</string>
			<string>{64,96}</string>
			<string>{96,96}</string>
			<string>{128,96}</string>
			<string>{160,96}</string>
			<string>{192,96}</string>
			<string>{224,96}</string>
			<string>{256,96}</string>
			<string>{288,96}</string>
			<string>{320,96}</string>
			<string>{352,96}</string>
			<string>{384,96}</string>
			<string>{416,96}</string>
			<string>{448,96}</string>
			<string>{480,96}</string>
			<string>{512,96}</string>
			<string>{0,64}</string>
			<string>{32,64}</string>
			<string>{64,64}</string>
			<string>{96,64}</string>
			<string>{128,64}</string>
			<string>{160,64}</string>
			<string>{192,64}</string>
			<string>{224,64}</string>
			<string>{256,64}</string>
			<string>{288,64}</string>
			<string>{320,64}</string>
			<string>{352,64}</string>
			<string>{384,64}</string>
			<string>{416,64}</string>
			<string>{448,64}</string>
			<string>{480,64}</string>
			<string>{512,64}</string>
			<string>{0,32}</string>
			<string>{32,32}</string>
			<string>{64,32}</string>
			<string>{96,32}</string>
			<string>{128,32}</string>
			<string>{160,32}</string>
			<string>{192,32}</string>
			<string>{224,32}</string>
			<string>{256,32}</string>
			<string>{288,32}</string>
			<string>{320,32}</string>
			<string>{352,32}</string>
			<string>{384,32}</string>
			<string>{416,32}</string>
			<string>{448,32}</string>
			<string>{480,32}</string>
			<string>{512,32}</string>
		</array>
	</array>
	<key>letters</key>
	<dict>
		<key>a</key>
		<string>{0,0}|{0,1}|{0,2}|{0,3}|{1,2}|{1,4}|{2,0}|{2,1}|{2,2}|{2,3}</string>
		<key>b</key>
		<string>{0,0}|{0,1}|{0,2}|{0,3}|{0,4}|{1,0}|{1,2}|{1,4}|{2,1}|{2,3}</string>
		<key>c</key>
		<string>{0,1}|{0,2}|{0,3}|{1,0}|{1,4}|{2,0}|{2,4}</string>
		<key>d</key>
		<string>{0,0}|{0,1}|{0,2}|{0,3}|{0,4}|{1,0}|{1,4}|{2,1}|{2,2}|{2,3}</string>
		<key>e</key>
		<string>{0,0}|{0,1}|{0,2}|{0,3}|{0,4}|{1,0}|{1,2}|{1,4}|{2,0}|{2,4}</string>
		<key>f</key>
		<string>{0,0}|{0,1}|{0,2}|{0,3}|{0,4}|{1,2}|{1,4}|{2,4}</string>
		<key>g</key>
		<string>{0,1}|{0,2}|{0,3}|{1,0}|{1,4}|{2,0}|{2,2}|{2,4}|{3,1}|{3,2}|{3,4}</string>
		<key>h</key>
		<string>{0,0}|{0,1}|{0,2}|{0,3}|{0,4}|{1,2}|{2,0}|{2,1}|{2,2}|{2,3}|{2,4}</string>
		<key>i</key>
		<string>{0,0}|{0,1}|{0,2}|{0,3}|{0,4}</string>
		<key>j</key>
		<string>{0,1}|{1,0}|{2,1}|{2,2}|{2,3}|{2,4}</string>
		<key>k</key>
		<string>{0,0}|{0,1}|{0,2}|{0,3}|{0,4}|{1,2}|{2,1}|{2,3}|{3,0}|{3,4}</string>
		<key>l</key>
		<string>{0,0}|{0,1}|{0,2}|{0,3}|{0,4}|{1,0}|{2,0}</string>
		<key>m</key>
		<string>{0,0}|{0,1}|{0,2}|{0,3}|{0,4}|{1,3}|{2,2}|{3,3}|{4,0}|{4,1}|{4,2}|{4,3}|{4,4}</string>
		<key>n</key>
		<string>{0,0}|{0,1}|{0,2}|{0,3}|{0,4}|{1,3}|{2,2}|{3,1}|{4,0}|{4,1}|{4,2}|{4,3}|{4,4}</string>
		<key>o</key>
		<string>{0,1}|{0,2}|{0,3}|{1,0}|{1,4}|{2,1}|{2,2}|{2,3}</string>
		<key>p</key>
		<string>{0,0}|{0,1}|{0,2}|{0,3}|{0,4}|{1,2}|{1,4}|{2,3}</string>
		<key>q</key>
		<string>{0,1}|{0,2}|{0,3}|{1,0}|{1,4}|{2,-1}|{2,1}|{2,2}|{2,3}</string>
		<key>r</key>
		<string>{0,0}|{0,1}|{0,2}|{0,3}|{0,4}|{1,1}|{1,4}|{2,0}|{2,2}|{2,3}</string>
		<key>s</key>
		<string>{0,0}|{0,3}|{1,0}|{1,2}|{1,4}|{2,1}|{2,4}</string>
		<key>t</key>
		<string>{0,4}|{1,0}|{1,1}|{1,2}|{1,3}|{1,4}|{2,4}</string>
		<key>u</key>
		<string>{0,0}|{0,1}|{0,2}|{0,3}|{0,4}|{1,0}|{2,0}|{2,1}|{2,2}|{2,3}|{2,4}</string>
		<key>v</key>
		<string>{0,1}|{0,2}|{0,3}|{0,4}|{1,0}|{2,1}|{2,2}|{2,3}|{2,4}</string>
		<key>w</key>
		<string>{0,1}|{0,2}|{0,3}|{0,4}|{1,0}|{2,1}|{2,2}|{3,0}|{4,1}|{4,2}|{4,3}|{4,4}</string>
		<key>x</key>
		<string>{0,0}|{0,1}|{0,3}|{0,4}|{1,2}|{2,0}|{2,1}|{2,3}|{2,4}</string>
		<key>y</key>
		<string>{0,3}|{0,4}|{1,0}|{1,1}|{1,2}|{2,3}|{2,4}</string>
		<key>z</key>
		<string>{0,0}|{0,1}|{0,4}|{1,0}|{1,2}|{1,4}|{2,0}|{2,3}|{2,4}</string>
		<key>!</key>
		<string>{0,0}|{0,2}|{0,3}|{0,4}</string>
	</dict>
</dict>
</plist>
