<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>backbutton_pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {95, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{95, 56}</string>
			<key>spriteSourceSize</key>
			<string>{95, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{913, 260}, {95, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>backbutton_unpressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {95, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{95, 56}</string>
			<key>spriteSourceSize</key>
			<string>{95, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{913, 316}, {95, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>backbuttonshell.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {106, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{106, 75}</string>
			<key>spriteSourceSize</key>
			<string>{106, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1122}, {106, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blades1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {361, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{361, 58}</string>
			<key>spriteSourceSize</key>
			<string>{361, 58}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1008, 220}, {361, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blades2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {361, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{361, 58}</string>
			<key>spriteSourceSize</key>
			<string>{361, 58}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1132, 278}, {361, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bluebutton_pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {116, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{116, 116}</string>
			<key>spriteSourceSize</key>
			<string>{116, 116}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 672}, {116, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bluebutton_unpressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {116, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{116, 116}</string>
			<key>spriteSourceSize</key>
			<string>{116, 116}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 904}, {116, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buybutton_pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {137, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{137, 42}</string>
			<key>spriteSourceSize</key>
			<string>{137, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{851, 218}, {137, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buybutton_unpressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {137, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{137, 42}</string>
			<key>spriteSourceSize</key>
			<string>{137, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{577, 218}, {137, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>chopper.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {377, 147}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{377, 147}</string>
			<key>spriteSourceSize</key>
			<string>{377, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{200, 88}, {377, 147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gamecenter_pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {116, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{116, 116}</string>
			<key>spriteSourceSize</key>
			<string>{116, 116}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 556}, {116, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gamecenter_unpressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {116, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{116, 116}</string>
			<key>spriteSourceSize</key>
			<string>{116, 116}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 788}, {116, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gamelogo.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {546, 276}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{546, 276}</string>
			<key>spriteSourceSize</key>
			<string>{546, 276}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{116, 849}, {546, 276}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jetpack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {20, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{20, 38}</string>
			<key>spriteSourceSize</key>
			<string>{20, 38}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{988, 218}, {20, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {52, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{52, 50}</string>
			<key>spriteSourceSize</key>
			<string>{52, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1684, 52}, {52, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 68}</string>
			<key>spriteSourceSize</key>
			<string>{54, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1392, 0}, {54, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{40, 80}</string>
			<key>spriteSourceSize</key>
			<string>{40, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1219, 108}, {40, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 78}</string>
			<key>spriteSourceSize</key>
			<string>{54, 78}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1259, 108}, {54, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {48, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{48, 52}</string>
			<key>spriteSourceSize</key>
			<string>{48, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1684, 0}, {48, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>laserbeam.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {351, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{351, 49}</string>
			<key>spriteSourceSize</key>
			<string>{351, 49}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1369, 226}, {351, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>leaderboard_background.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {848, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{848, 88}</string>
			<key>spriteSourceSize</key>
			<string>{848, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {848, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mainmenushell.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {793, 583}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{793, 583}</string>
			<key>spriteSourceSize</key>
			<string>{793, 583}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{120, 266}, {793, 583}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monster1_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {104, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{104, 108}</string>
			<key>spriteSourceSize</key>
			<string>{104, 108}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1115, 108}, {104, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monster1_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {108, 110}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{108, 110}</string>
			<key>spriteSourceSize</key>
			<string>{108, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{848, 0}, {108, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monster1_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {102, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{102, 112}</string>
			<key>spriteSourceSize</key>
			<string>{102, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1013, 108}, {102, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monster1_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {106, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{106, 102}</string>
			<key>spriteSourceSize</key>
			<string>{106, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1020}, {106, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monster2_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {122, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{122, 114}</string>
			<key>spriteSourceSize</key>
			<string>{122, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 88}, {122, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monster2_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {118, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{118, 118}</string>
			<key>spriteSourceSize</key>
			<string>{118, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 438}, {118, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monster2_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{120, 118}</string>
			<key>spriteSourceSize</key>
			<string>{120, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 202}, {120, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monster2_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{120, 118}</string>
			<key>spriteSourceSize</key>
			<string>{120, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 320}, {120, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>playbutton_pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {436, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{436, 108}</string>
			<key>spriteSourceSize</key>
			<string>{436, 108}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{956, 0}, {436, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>playbutton_unpressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {436, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{436, 108}</string>
			<key>spriteSourceSize</key>
			<string>{436, 108}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{577, 110}, {436, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>redbullet.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {10, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{10, 10}</string>
			<key>spriteSourceSize</key>
			<string>{10, 10}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{577, 88}, {10, 10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>run1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {38, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{38, 60}</string>
			<key>spriteSourceSize</key>
			<string>{38, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1094, 278}, {38, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>run2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {56, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{56, 58}</string>
			<key>spriteSourceSize</key>
			<string>{56, 58}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1446, 58}, {56, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>run3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 56}</string>
			<key>spriteSourceSize</key>
			<string>{84, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1453, 116}, {84, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>run4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {56, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{56, 54}</string>
			<key>spriteSourceSize</key>
			<string>{56, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1453, 172}, {56, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>run5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 58}</string>
			<key>spriteSourceSize</key>
			<string>{44, 58}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1409, 116}, {44, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>run6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 56}</string>
			<key>spriteSourceSize</key>
			<string>{54, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1502, 58}, {54, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>run7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {86, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{86, 54}</string>
			<key>spriteSourceSize</key>
			<string>{86, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1542, 0}, {86, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>run8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {56, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{56, 54}</string>
			<key>spriteSourceSize</key>
			<string>{56, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1628, 0}, {56, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shopbutton_pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {137, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{137, 42}</string>
			<key>spriteSourceSize</key>
			<string>{137, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{714, 218}, {137, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shopshell.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {632, 203}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{632, 203}</string>
			<key>spriteSourceSize</key>
			<string>{632, 203}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{662, 849}, {632, 203}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spikewall.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {78, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{78, 178}</string>
			<key>spriteSourceSize</key>
			<string>{78, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{122, 88}, {78, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>torso.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {96, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{96, 58}</string>
			<key>spriteSourceSize</key>
			<string>{96, 58}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1446, 0}, {96, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>torso_down.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {96, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{96, 74}</string>
			<key>spriteSourceSize</key>
			<string>{96, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1313, 108}, {96, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>torso_up.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {86, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{86, 66}</string>
			<key>spriteSourceSize</key>
			<string>{86, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1008, 278}, {86, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ultralaser.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {4, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{4, 100}</string>
			<key>spriteSourceSize</key>
			<string>{4, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{116, 556}, {4, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>yellowbullet.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{25, 8}</string>
			<key>spriteSourceSize</key>
			<string>{25, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{587, 88}, {25, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>UI Atlas.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>uiatlas</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>uiatlas</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>