<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>levels</key>
	<array>
		<array>
			<dict>
				<key>type</key>
				<string>coinGroup</string>
				<key>probability</key>
				<real>0.4</real>
			</dict>
			<dict>
				<key>type</key>
				<string>dropship</string>
				<key>probability</key>
				<real>0.4</real>
			</dict>
			<dict>
				<key>type</key>
				<string>delay</string>
				<key>probability</key>
				<real>0.2</real>
				<key>range</key>
				<string>{1,2}</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>type</key>
				<string>coinGroup</string>
				<key>probability</key>
				<real>0.3</real>
			</dict>
			<dict>
				<key>type</key>
				<string>dropship</string>
				<key>probability</key>
				<real>0.3</real>
			</dict>
			<dict>
				<key>type</key>
				<string>delay</string>
				<key>probability</key>
				<real>0.4</real>
				<key>range</key>
				<string>{1,2}</string>
			</dict>
		</array>
	</array>
	<key>numKeysToSummonMiniboss</key>
	<integer>7</integer>
	<key>numPiecesForFinalBoss</key>
	<integer>4</integer>
	<key>numDropshipsForceKey</key>
	<integer>9</integer>
</dict>
</plist>
