<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scores</key>
	<array>
		<dict>
			<key>name</key>
			<string>Kristian</string>
			<key>score</key>
			<integer>1234567890</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Kristian</string>
			<key>score</key>
			<integer>1234567890</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Kristian</string>
			<key>score</key>
			<integer>1234567890</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Kristian</string>
			<key>score</key>
			<integer>1234567890</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Kristian</string>
			<key>score</key>
			<integer>1234567890</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Kristian</string>
			<key>score</key>
			<integer>1234567890</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Kristian</string>
			<key>score</key>
			<integer>1234567890</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Kristian</string>
			<key>score</key>
			<integer>1234567890</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Kristian</string>
			<key>score</key>
			<integer>1234567890</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Kristian</string>
			<key>score</key>
			<integer>1234567890</integer>
		</dict>
	</array>
</dict>
</plist>
