<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- created with http://www.physicseditor.de -->

<plist version="1.0">
	<dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>ptm_ratio</key>
            <real>32</real>
        </dict>
        <key>bodies</key>
		<dict>

			<key>dropship_1_2</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>8</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 172.000,-104.000 }</string>	
								<string>{ 234.000,-105.000 }</string>	
								<string>{ 236.000,86.000 }</string>	
								<string>{ 195.000,93.000 }</string>	
								<string>{ 167.000,-39.000 }</string>
							</array>
							<array>	
								<string>{ 133.000,151.000 }</string>	
								<string>{ 133.000,66.000 }</string>	
								<string>{ 195.000,93.000 }</string>	
								<string>{ 194.000,153.000 }</string>	
								<string>{ 189.000,153.000 }</string>
							</array>
							<array>	
								<string>{ -235.000,-62.000 }</string>	
								<string>{ -217.000,-150.000 }</string>	
								<string>{ -179.000,-145.000 }</string>	
								<string>{ -151.000,-100.000 }</string>	
								<string>{ -109.000,29.000 }</string>	
								<string>{ -167.000,11.000 }</string>
							</array>
							<array>	
								<string>{ -157.000,-130.000 }</string>	
								<string>{ -151.000,-100.000 }</string>	
								<string>{ -179.000,-145.000 }</string>
							</array>
							<array>	
								<string>{ -34.000,95.000 }</string>	
								<string>{ -109.000,29.000 }</string>	
								<string>{ -151.000,-100.000 }</string>	
								<string>{ -112.000,-84.000 }</string>	
								<string>{ 133.000,66.000 }</string>	
								<string>{ 101.000,95.000 }</string>
							</array>
							<array>	
								<string>{ 167.000,-39.000 }</string>	
								<string>{ 195.000,93.000 }</string>	
								<string>{ 122.000,-35.000 }</string>
							</array>
							<array>	
								<string>{ 60.000,-79.000 }</string>	
								<string>{ 122.000,-35.000 }</string>	
								<string>{ 195.000,93.000 }</string>	
								<string>{ 133.000,66.000 }</string>	
								<string>{ -112.000,-84.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>oldCoin1</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>2</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>1</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>14.000</real>
                             <key>position</key> <string>{ 0.087,0.087 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
			<key>torso</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,1.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>26</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -3.000,0.000 }</string>	
								<string>{ -33.000,-10.000 }</string>	
								<string>{ -42.500,-26.000 }</string>	
								<string>{ -50.000,-47.500 }</string>	
								<string>{ -4.000,-26.000 }</string>
							</array>
							<array>	
								<string>{ 10.000,-47.500 }</string>	
								<string>{ -4.000,-26.000 }</string>	
								<string>{ -50.000,-47.500 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>dropship_2_2</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>8</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -174.000,-110.000 }</string>	
								<string>{ -49.000,-77.000 }</string>	
								<string>{ 30.000,-37.000 }</string>	
								<string>{ -4.000,76.000 }</string>	
								<string>{ -85.000,71.000 }</string>	
								<string>{ -168.000,-4.000 }</string>
							</array>
							<array>	
								<string>{ -29.000,-102.000 }</string>	
								<string>{ 30.000,-37.000 }</string>	
								<string>{ -49.000,-77.000 }</string>
							</array>
							<array>	
								<string>{ 30.000,-37.000 }</string>	
								<string>{ 145.000,-17.000 }</string>	
								<string>{ 164.000,8.000 }</string>	
								<string>{ 125.000,109.000 }</string>	
								<string>{ 5.000,109.000 }</string>	
								<string>{ -4.000,76.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>run1</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.3333,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>26</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>10.000</real>
                             <key>position</key> <string>{ 5.961,48.937 }</string>
                         </dict>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>10.000</real>
                             <key>position</key> <string>{ -15.778,20.435 }</string>
                         </dict>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>10.000</real>
                             <key>position</key> <string>{ 26.251,22.850 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
			<key>bluelaserbullet</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>8</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>53</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 37.000,6.000 }</string>	
								<string>{ -37.000,6.000 }</string>	
								<string>{ -37.000,-6.000 }</string>	
								<string>{ 37.000,-6.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>highenergyshot</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>8</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>53</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 36.000,0.000 }</string>	
								<string>{ 27.000,16.000 }</string>	
								<string>{ -34.000,5.000 }</string>	
								<string>{ -34.000,-4.000 }</string>	
								<string>{ 27.000,-16.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>yellowbullet</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>8</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>53</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -12.500,4.000 }</string>	
								<string>{ -12.500,-4.000 }</string>	
								<string>{ 12.500,-4.000 }</string>	
								<string>{ 12.500,4.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>gattlingunbullet</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>8</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>53</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -51.500,2.500 }</string>	
								<string>{ -51.500,-2.500 }</string>	
								<string>{ 51.500,-2.500 }</string>	
								<string>{ 51.500,2.500 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>redbullet</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>8</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>53</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>10.000</real>
                             <key>position</key> <string>{ 0.081,0.081 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
			<key>flamesmall</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>8</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>53</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>30.000</real>
                             <key>position</key> <string>{ -0.086,0.027 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
			<key>greenglow</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>8</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>53</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>23.022</real>
                             <key>position</key> <string>{ 1.349,0.019 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
			<key>blueglow</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>8</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>53</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>22.000</real>
                             <key>position</key> <string>{ 1.732,0.816 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
			<key>shell</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>8</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>53</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -26.000,10.000 }</string>	
								<string>{ -26.000,-10.000 }</string>	
								<string>{ 26.000,-10.000 }</string>	
								<string>{ 26.000,10.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>infected_dropship</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>8</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 170.000,-89.000 }</string>	
								<string>{ 218.000,-78.000 }</string>	
								<string>{ 224.000,96.000 }</string>	
								<string>{ 171.000,111.000 }</string>	
								<string>{ 144.000,-25.000 }</string>
							</array>
							<array>	
								<string>{ 144.000,-25.000 }</string>	
								<string>{ 182.000,177.000 }</string>	
								<string>{ 181.000,177.000 }</string>	
								<string>{ 112.000,152.000 }</string>	
								<string>{ 91.000,97.000 }</string>	
								<string>{ 72.000,-23.000 }</string>
							</array>
							<array>	
								<string>{ 77.000,149.000 }</string>	
								<string>{ -72.000,127.000 }</string>	
								<string>{ -230.000,-37.000 }</string>	
								<string>{ -236.000,-129.000 }</string>	
								<string>{ 72.000,-23.000 }</string>	
								<string>{ 91.000,97.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>spikewall</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>16</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>9</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -30.000,178.000 }</string>	
								<string>{ -39.000,140.000 }</string>	
								<string>{ -39.000,32.000 }</string>	
								<string>{ 39.000,0.000 }</string>	
								<string>{ -11.000,178.000 }</string>
							</array>
							<array>	
								<string>{ -25.000,0.000 }</string>	
								<string>{ 39.000,0.000 }</string>	
								<string>{ -39.000,32.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>monster2_1</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.4918,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>16</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>9</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -16.000,14.500 }</string>	
								<string>{ 24.000,0.500 }</string>	
								<string>{ 60.000,72.500 }</string>	
								<string>{ 24.000,114.500 }</string>	
								<string>{ -6.500,60.000 }</string>
							</array>
							<array>	
								<string>{ -46.000,36.500 }</string>	
								<string>{ -6.500,60.000 }</string>	
								<string>{ 24.000,114.500 }</string>	
								<string>{ 23.000,114.500 }</string>	
								<string>{ -21.000,104.500 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>flyer1</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>16</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>9</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -53.000,54.500 }</string>	
								<string>{ -22.500,46.000 }</string>	
								<string>{ 18.000,86.500 }</string>	
								<string>{ -12.000,88.500 }</string>	
								<string>{ -13.000,88.500 }</string>
							</array>
							<array>	
								<string>{ 33.500,45.000 }</string>	
								<string>{ 18.000,86.500 }</string>	
								<string>{ -22.500,46.000 }</string>	
								<string>{ -34.500,18.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>monster1_1</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5192,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>16</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>9</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -48.500,58.000 }</string>	
								<string>{ -44.000,38.500 }</string>	
								<string>{ -18.500,50.000 }</string>
							</array>
							<array>	
								<string>{ 1.000,34.500 }</string>	
								<string>{ 25.500,41.000 }</string>	
								<string>{ 1.500,51.000 }</string>
							</array>
							<array>	
								<string>{ -28.500,88.000 }</string>	
								<string>{ -18.500,50.000 }</string>	
								<string>{ 1.500,51.000 }</string>	
								<string>{ -4.000,100.500 }</string>	
								<string>{ -5.000,100.500 }</string>
							</array>
							<array>	
								<string>{ 25.500,41.000 }</string>	
								<string>{ -4.000,100.500 }</string>	
								<string>{ 1.500,51.000 }</string>
							</array>
							<array>	
								<string>{ -44.000,38.500 }</string>	
								<string>{ 1.500,51.000 }</string>	
								<string>{ -18.500,50.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>enemy_soldier4</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>16</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>9</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -34.000,54.500 }</string>	
								<string>{ 3.500,56.000 }</string>	
								<string>{ -2.500,79.000 }</string>
							</array>
							<array>	
								<string>{ 13.500,6.000 }</string>	
								<string>{ 19.500,34.000 }</string>	
								<string>{ 3.500,56.000 }</string>
							</array>
							<array>	
								<string>{ 35.500,86.000 }</string>	
								<string>{ 2.000,108.500 }</string>	
								<string>{ 1.000,108.500 }</string>	
								<string>{ 19.500,34.000 }</string>	
								<string>{ 29.500,6.000 }</string>
							</array>
							<array>	
								<string>{ 3.500,56.000 }</string>	
								<string>{ 19.500,34.000 }</string>	
								<string>{ 1.000,108.500 }</string>	
								<string>{ -2.500,79.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>ultralaser</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>8</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>53</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 0.000,50.000 }</string>	
								<string>{ 0.000,-50.000 }</string>	
								<string>{ 1147.000,-50.000 }</string>	
								<string>{ 1147.000,50.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>bluewaveNEW</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>8</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>53</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 39.500,0.000 }</string>	
								<string>{ 24.500,24.000 }</string>	
								<string>{ 10.500,0.000 }</string>	
								<string>{ 24.500,-24.000 }</string>
							</array>
							<array>	
								<string>{ -39.500,-40.000 }</string>	
								<string>{ 24.500,-24.000 }</string>	
								<string>{ 10.500,0.000 }</string>
							</array>
							<array>	
								<string>{ 10.500,0.000 }</string>	
								<string>{ 24.500,24.000 }</string>	
								<string>{ -39.500,40.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>energyGunShip</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>9</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 173.000,-102.000 }</string>	
								<string>{ 236.000,-102.000 }</string>	
								<string>{ 238.000,85.000 }</string>	
								<string>{ 191.000,153.000 }</string>	
								<string>{ 175.000,-39.000 }</string>
							</array>
							<array>	
								<string>{ 136.000,152.000 }</string>	
								<string>{ 132.000,60.000 }</string>	
								<string>{ 175.000,-39.000 }</string>	
								<string>{ 191.000,153.000 }</string>
							</array>
							<array>	
								<string>{ -236.000,-67.000 }</string>	
								<string>{ -217.000,-155.000 }</string>	
								<string>{ 65.000,-76.000 }</string>	
								<string>{ 175.000,-39.000 }</string>	
								<string>{ 132.000,60.000 }</string>	
								<string>{ 103.000,93.000 }</string>	
								<string>{ -37.000,92.000 }</string>	
								<string>{ -162.000,13.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>boss1</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 1.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>32</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>8</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -416.000,204.000 }</string>	
								<string>{ -352.000,139.000 }</string>	
								<string>{ -269.000,218.000 }</string>
							</array>
							<array>	
								<string>{ -60.000,301.000 }</string>	
								<string>{ -93.000,333.000 }</string>	
								<string>{ -264.000,295.000 }</string>	
								<string>{ -76.000,264.000 }</string>
							</array>
							<array>	
								<string>{ -432.000,102.000 }</string>	
								<string>{ -282.000,6.000 }</string>	
								<string>{ -352.000,139.000 }</string>
							</array>
							<array>	
								<string>{ -352.000,139.000 }</string>	
								<string>{ -282.000,6.000 }</string>	
								<string>{ -261.000,63.000 }</string>	
								<string>{ -269.000,218.000 }</string>
							</array>
							<array>	
								<string>{ -349.000,255.000 }</string>	
								<string>{ -269.000,218.000 }</string>	
								<string>{ -46.000,197.000 }</string>	
								<string>{ -262.000,258.000 }</string>
							</array>
							<array>	
								<string>{ -256.000,0.000 }</string>	
								<string>{ -26.000,0.000 }</string>	
								<string>{ -46.000,197.000 }</string>	
								<string>{ -240.000,61.000 }</string>
							</array>
							<array>	
								<string>{ -76.000,264.000 }</string>	
								<string>{ -264.000,295.000 }</string>	
								<string>{ -262.000,258.000 }</string>	
								<string>{ -46.000,197.000 }</string>
							</array>
							<array>	
								<string>{ -269.000,218.000 }</string>	
								<string>{ -261.000,63.000 }</string>	
								<string>{ -240.000,61.000 }</string>	
								<string>{ -46.000,197.000 }</string>
							</array>
							<array>	
								<string>{ -26.000,241.000 }</string>	
								<string>{ -46.000,197.000 }</string>	
								<string>{ -26.000,0.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>bossbody</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>32</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>8</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -129.500,52.000 }</string>	
								<string>{ -80.500,44.000 }</string>	
								<string>{ -8.500,92.000 }</string>	
								<string>{ -120.500,89.000 }</string>
							</array>
							<array>	
								<string>{ 149.500,-38.000 }</string>	
								<string>{ 219.500,1.000 }</string>	
								<string>{ 251.500,145.000 }</string>	
								<string>{ 128.500,5.000 }</string>
							</array>
							<array>	
								<string>{ -113.500,20.000 }</string>	
								<string>{ -86.500,-34.000 }</string>	
								<string>{ 128.500,5.000 }</string>	
								<string>{ -8.500,92.000 }</string>	
								<string>{ -80.500,44.000 }</string>
							</array>
							<array>	
								<string>{ -8.500,92.000 }</string>	
								<string>{ 128.500,5.000 }</string>	
								<string>{ 251.500,145.000 }</string>	
								<string>{ 21.500,145.000 }</string>
							</array>
							<array>	
								<string>{ 14.500,-145.000 }</string>	
								<string>{ 251.500,-145.000 }</string>	
								<string>{ 175.500,-91.000 }</string>
							</array>
							<array>	
								<string>{ 175.500,-91.000 }</string>	
								<string>{ 251.500,-145.000 }</string>	
								<string>{ 219.500,1.000 }</string>
							</array>
							<array>	
								<string>{ 219.500,1.000 }</string>	
								<string>{ 251.500,-145.000 }</string>	
								<string>{ 251.500,145.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>fronttentacle</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>32</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>8</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 126.500,194.000 }</string>	
								<string>{ -6.500,116.000 }</string>	
								<string>{ -111.500,-9.000 }</string>	
								<string>{ -45.500,-25.000 }</string>	
								<string>{ 126.500,96.000 }</string>
							</array>
							<array>	
								<string>{ -111.500,-9.000 }</string>	
								<string>{ -126.500,-123.000 }</string>	
								<string>{ -103.500,-193.000 }</string>	
								<string>{ -45.500,-25.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>backtentacle</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>32</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>8</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 170.500,-58.000 }</string>	
								<string>{ 170.500,67.000 }</string>	
								<string>{ 71.500,110.000 }</string>	
								<string>{ 61.500,49.000 }</string>
							</array>
							<array>	
								<string>{ 71.500,110.000 }</string>	
								<string>{ -48.500,81.000 }</string>	
								<string>{ -148.500,8.000 }</string>	
								<string>{ -78.500,0.000 }</string>	
								<string>{ 61.500,49.000 }</string>
							</array>
							<array>	
								<string>{ -148.500,8.000 }</string>	
								<string>{ -170.500,-60.000 }</string>	
								<string>{ -165.500,-106.000 }</string>	
								<string>{ -78.500,0.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>bossBullet</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>8</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>1</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>10.000</real>
                             <key>position</key> <string>{ 0.083,0.167 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
		</dict>
	</dict>
</plist>

