<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tiles_aubrey.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{2048,1312}}</string>
                <key>offset</key>
                <string>{0,368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1312}}</string>
                <key>sourceSize</key>
                <string>{2048,2048}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tiles.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09cbe6cc7f93d614d5f0fe01d0ac668f$</string>
            <key>textureFileName</key>
            <string>tiles.png</string>
        </dict>
    </dict>
</plist>
