<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>health</key>
	<integer>500</integer>
	<key>offsetMiddle</key>
	<string>{-350,125}</string>
	<key>offsetTop</key>
	<string>{-300,125}</string>
	<key>offsetBottom</key>
	<string>{-300,100}</string>
	<key>coins</key>
	<integer>25</integer>
	<key>sounds</key>
	<dict>
		<key>hit</key>
		<string>dullthud.wav</string>
		<key>death</key>
		<string>dropshipexplosion.wav</string>
	</dict>
	<key>particles</key>
	<string>minibossHitParticle.plist</string>
	<key>collisionShape</key>
	<string>energyGunShip</string>
	<key>animation</key>
	<string>dropshipBoss</string>
	<key>aiStages</key>
	<array>
		<dict>
			<key>health</key>
			<real>0.1</real>
			<key>actions</key>
			<array>
				<dict>
					<key>type</key>
					<string>dropEnemy</string>
					<key>frequency</key>
					<string>{1,1}</string>
					<key>enemyTypes</key>
					<array>
						<dict>
							<key>type</key>
							<string>enemySoldierInfected</string>
							<key>probability</key>
							<real>0.75</real>
						</dict>
						<dict>
							<key>type</key>
							<string>testEnemy2</string>
							<key>probability</key>
							<real>0.25</real>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>health</key>
			<real>0.2</real>
			<key>actions</key>
			<array>
				<dict>
					<key>type</key>
					<string>dropEnemy</string>
					<key>frequency</key>
					<string>{1,2}</string>
					<key>enemyTypes</key>
					<array>
						<dict>
							<key>type</key>
							<string>enemySoldierInfected</string>
							<key>probability</key>
							<real>0.75</real>
						</dict>
						<dict>
							<key>type</key>
							<string>testEnemy2</string>
							<key>probability</key>
							<real>0.25</real>
						</dict>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>chase</string>
					<key>checkPlayerPositionFrequency</key>
					<string>{5,10}</string>
					<key>speed</key>
					<string>{10,15}</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>health</key>
			<real>0.4</real>
			<key>actions</key>
			<array>
				<dict>
					<key>type</key>
					<string>chase</string>
					<key>checkPlayerPositionFrequency</key>
					<string>{4,8}</string>
					<key>speed</key>
					<string>{5,10}</string>
				</dict>
				<dict>
					<key>type</key>
					<string>shoot</string>
					<key>changeWeaponFrequency</key>
					<string>{3,5}</string>
					<key>weapons</key>
					<array>
						<dict>
							<key>type</key>
							<string>minibossPistol</string>
							<key>probability</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>health</key>
			<real>0.6</real>
			<key>actions</key>
			<array>
				<dict>
					<key>type</key>
					<string>chase</string>
					<key>checkPlayerPositionFrequency</key>
					<string>{3,6}</string>
					<key>speed</key>
					<string>{4,8}</string>
				</dict>
				<dict>
					<key>type</key>
					<string>shoot</string>
					<key>changeWeaponFrequency</key>
					<string>{3,5}</string>
					<key>weapons</key>
					<array>
						<dict>
							<key>type</key>
							<string>minibossPistol</string>
							<key>probability</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>dropEnemy</string>
					<key>frequency</key>
					<string>{1,2}</string>
					<key>enemyTypes</key>
					<array>
						<dict>
							<key>type</key>
							<string>enemySoldierInfected</string>
							<key>probability</key>
							<real>0.75</real>
						</dict>
						<dict>
							<key>type</key>
							<string>testEnemy2</string>
							<key>probability</key>
							<real>0.25</real>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>health</key>
			<real>0.8</real>
			<key>actions</key>
			<array>
				<dict>
					<key>type</key>
					<string>chase</string>
					<key>checkPlayerPositionFrequency</key>
					<string>{2,4}</string>
					<key>speed</key>
					<string>{3,6}</string>
				</dict>
				<dict>
					<key>type</key>
					<string>shoot</string>
					<key>changeWeaponFrequency</key>
					<string>{3,5}</string>
					<key>weapons</key>
					<array>
						<dict>
							<key>type</key>
							<string>minibossPistol</string>
							<key>probability</key>
							<real>0.5</real>
						</dict>
						<dict>
							<key>type</key>
							<string>minibossPlasma</string>
							<key>probability</key>
							<real>0.5</real>
						</dict>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>charge</string>
					<key>frequency</key>
					<string>{3,5}</string>
					<key>warnSpeed</key>
					<string>{150,200}</string>
					<key>warnTime</key>
					<string>{1,2}</string>
					<key>speed</key>
					<string>{500,550}</string>
					<key>returnSpeed</key>
					<string>{250,275}</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>health</key>
			<integer>1</integer>
			<key>actions</key>
			<array>
				<dict>
					<key>type</key>
					<string>chase</string>
					<key>checkPlayerPositionFrequency</key>
					<string>{1,2}</string>
					<key>speed</key>
					<string>{2,4}</string>
				</dict>
				<dict>
					<key>type</key>
					<string>shoot</string>
					<key>changeWeaponFrequency</key>
					<string>{1,2}</string>
					<key>weapons</key>
					<array>
						<dict>
							<key>type</key>
							<string>minibossPistol</string>
							<key>probability</key>
							<real>0.25</real>
						</dict>
						<dict>
							<key>type</key>
							<string>minibossPlasma</string>
							<key>probability</key>
							<real>0.75</real>
						</dict>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>charge</string>
					<key>frequency</key>
					<string>{2,4}</string>
					<key>warnSpeed</key>
					<string>{100,150}</string>
					<key>warnTime</key>
					<string>{0.5,1.25}</string>
					<key>speed</key>
					<string>{600,650}</string>
					<key>returnSpeed</key>
					<string>{350,375}</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
