<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>health</key>
	<integer>100</integer>
	<key>spawnRate</key>
	<integer>1</integer>
	<key>enemyTypes</key>
	<array>
		<string>enemySoldier</string>
	</array>
	<key>collisionShape</key>
	<string>dropship_2_2</string>
	<key>offsetTop</key>
	<dict>
		<key>x</key>
		<integer>-300</integer>
		<key>y</key>
		<integer>225</integer>
	</dict>
	<key>offsetMiddle</key>
	<dict>
		<key>x</key>
		<integer>-300</integer>
		<key>y</key>
		<integer>200</integer>
	</dict>
	<key>offsetBottom</key>
	<dict>
		<key>x</key>
		<integer>-300</integer>
		<key>y</key>
		<integer>200</integer>
	</dict>
	<key>coins</key>
	<integer>20</integer>
	<key>sounds</key>
	<dict>
		<key>hit</key>
		<string>dullthud.wav</string>
		<key>death</key>
		<string>dropshipexplosion.wav</string>
	</dict>
	<key>particles</key>
	<string>dropShip1HitParticle.plist</string>
	<key>animation</key>
	<string>dropship2</string>
</dict>
</plist>
