<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>numLevels</key>
	<integer>10</integer>
	<key>ships</key>
	<array>
		<string>infected</string>
		<string>jumbo</string>
		<string>tiny</string>
	</array>
</dict>
</plist>
