<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>health</key>
	<integer>250</integer>
	<key>spawnRate</key>
	<real>0.65</real>
	<key>enemyTypes</key>
	<array>
		<string>testEnemy</string>
		<string>testEnemy2</string>
		<string>enemyBird</string>
	</array>
	<key>collisionShape</key>
	<string>infected_dropship</string>
	<key>offsetTop</key>
	<dict>
		<key>x</key>
		<integer>-300</integer>
		<key>y</key>
		<integer>100</integer>
	</dict>
	<key>offsetMiddle</key>
	<dict>
		<key>x</key>
		<integer>-300</integer>
		<key>y</key>
		<integer>100</integer>
	</dict>
	<key>offsetBottom</key>
	<dict>
		<key>x</key>
		<integer>-300</integer>
		<key>y</key>
		<integer>100</integer>
	</dict>
	<key>coins</key>
	<integer>50</integer>
	<key>sounds</key>
	<dict>
		<key>hit</key>
		<string>dullthud.wav</string>
		<key>death</key>
		<string>dropshipexplosion.wav</string>
	</dict>
	<key>particles</key>
	<string>dropShip1HitParticle.plist</string>
	<key>animation</key>
	<string>dropshipInfected</string>
	<key>minibossChance</key>
	<real>0.1</real>
</dict>
</plist>
