<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>downAngle</key>
	<integer>-30</integer>
	<key>shots</key>
	<array>
		<string>highenergyshot_bullet</string>
		<string>buildupparticle_bullet</string>
	</array>
	<key>straightAngle</key>
	<integer>0</integer>
	<key>torsoDownOffset</key>
	<string>{50,-72}</string>
	<key>torsoOffset</key>
	<string>{50,-48}</string>
	<key>torsoUpOffset</key>
	<string>{50,-2}</string>
	<key>upAngle</key>
	<integer>40</integer>
	<key>shop</key>
	<dict>
		<key>cost</key>
		<string>500</string>
		<key>description</key>
		<string>High Energy Bolt</string>
		<key>icon</key>
		<string>highenergyshopitem.png</string>
		<key>name</key>
		<string>Charge Shot</string>
		<key>identifier</key>
		<string>highenergyshot</string>
		<key>type</key>
		<string>weapon</string>
		<key>previewAvailable</key>
		<true/>
	</dict>
</dict>
</plist>
