<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<array>
		<dict>
			<key>frames</key>
			<array>
				<string>run1.png</string>
				<string>run2.png</string>
				<string>run3.png</string>
				<string>run4.png</string>
				<string>run5.png</string>
				<string>run6.png</string>
				<string>run7.png</string>
				<string>run8.png</string>
			</array>
			<key>name</key>
			<string>playerRun</string>
			<key>speed</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>frames</key>
			<array>
				<string>jump1.png</string>
				<string>jump2.png</string>
			</array>
			<key>name</key>
			<string>playerBeginJump</string>
			<key>speed</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>frames</key>
			<array>
				<string>jump3.png</string>
				<string>jump4.png</string>
			</array>
			<key>name</key>
			<string>playerMiddleJump</string>
			<key>speed</key>
			<real>0.3</real>
		</dict>
		<dict>
			<key>frames</key>
			<array>
				<string>jump5.png</string>
			</array>
			<key>name</key>
			<string>playerEndJump</string>
			<key>speed</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>frames</key>
			<array>
				<string>blades1.png</string>
				<string>blades2.png</string>
			</array>
			<key>name</key>
			<string>chopperBlades</string>
			<key>speed</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>frames</key>
			<array>
				<string>oldCoin1.png</string>
				<string>oldCoin2.png</string>
				<string>oldCoin3.png</string>
				<string>oldCoin4.png</string>
			</array>
			<key>name</key>
			<string>coinIdle</string>
			<key>speed</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>frames</key>
			<array>
				<string>energyGunShip.png</string>
			</array>
			<key>name</key>
			<string>dropshipBoss</string>
			<key>speed</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>frames</key>
			<array>
				<string>dropship_2.png</string>
				<string>dropship_2_2.png</string>
			</array>
			<key>name</key>
			<string>dropship2</string>
			<key>speed</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>frames</key>
			<array>
				<string>spikewall.png</string>
			</array>
			<key>name</key>
			<string>enemySpikeWall</string>
			<key>speed</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>frames</key>
			<array>
				<string>infected_dropship.png</string>
				<string>infected_dropship2.png</string>
			</array>
			<key>name</key>
			<string>dropshipInfected</string>
			<key>speed</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>frames</key>
			<array>
				<string>dropship_1.png</string>
				<string>dropship_1_2.png</string>
			</array>
			<key>name</key>
			<string>dropship1</string>
			<key>speed</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>frames</key>
			<array>
				<string>monster2_1.png</string>
				<string>monster2_2.png</string>
				<string>monster2_3.png</string>
				<string>monster2_4.png</string>
			</array>
			<key>name</key>
			<string>enemy2</string>
			<key>speed</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>frames</key>
			<array>
				<string>flyer1.png</string>
				<string>flyer2.png</string>
				<string>flyer3.png</string>
				<string>flyer4.png</string>
			</array>
			<key>name</key>
			<string>enemyFlyer</string>
			<key>speed</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>frames</key>
			<array>
				<string>monster1_1.png</string>
				<string>monster1_2.png</string>
				<string>monster1_3.png</string>
				<string>monster1_4.png</string>
			</array>
			<key>name</key>
			<string>enemy1</string>
			<key>speed</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>frames</key>
			<array>
				<string>enemy_soldier4.png</string>
				<string>enemy_soldier7.png</string>
				<string>enemy_soldier6.png</string>
				<string>enemy_soldier18.png</string>
				<string>enemy_soldier17.png</string>
			</array>
			<key>name</key>
			<string>enemySoldier</string>
			<key>speed</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>frames</key>
			<array>
				<string>enemy_infected16.png</string>
				<string>enemy_infected17.png</string>
				<string>enemy_infected18.png</string>
				<string>enemy_infected19.png</string>
			</array>
			<key>name</key>
			<string>enemyInfectedSoldier</string>
			<key>speed</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>frames</key>
			<array>
				<string>explosion1.png</string>
				<string>explosion2.png</string>
				<string>explosion3.png</string>
				<string>explosion4.png</string>
				<string>explosion5.png</string>
				<string>explosion6.png</string>
			</array>
			<key>name</key>
			<string>explosion</string>
			<key>speed</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>frames</key>
			<array>
				<string>key.png</string>
			</array>
			<key>name</key>
			<string>key</string>
			<key>speed</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>frames</key>
			<array>
				<string>triforceEmpty.png</string>
			</array>
			<key>name</key>
			<string>triforce</string>
			<key>speed</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>frames</key>
			<array>
				<string>triforceFilled.png</string>
			</array>
			<key>name</key>
			<string>triforceFill</string>
			<key>speed</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>frames</key>
			<array>
				<string>triforceFilled.png</string>
				<string>triforceEmpty.png</string>
			</array>
			<key>name</key>
			<string>triforceFlashing</string>
			<key>speed</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>frames</key>
			<array>
				<string>boss1.png</string>
				<string>boss2.png</string>
				<string>boss3.png</string>
			</array>
			<key>name</key>
			<string>bossOpenMouth</string>
			<key>speed</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>frames</key>
			<array>
				<string>boss3.png</string>
				<string>boss2.png</string>
				<string>boss1.png</string>
			</array>
			<key>name</key>
			<string>bossCloseMouth</string>
			<key>speed</key>
			<real>0.1</real>
		</dict>
	</array>
</dict>
</plist>
