<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>downAngle</key>
	<integer>-30</integer>
	<key>shots</key>
	<array>
		<string>bluewave_bullet_new</string>
		<string>plasmabullet_slowfire</string>
	</array>
	<key>sprite</key>
	<string></string>
	<key>straightAngle</key>
	<integer>0</integer>
	<key>torsoDownOffset</key>
	<dict>
		<key>x</key>
		<integer>40</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>torsoOffset</key>
	<dict>
		<key>x</key>
		<integer>40</integer>
		<key>y</key>
		<integer>-48</integer>
	</dict>
	<key>torsoUpOffset</key>
	<dict>
		<key>x</key>
		<integer>40</integer>
		<key>y</key>
		<integer>-100</integer>
	</dict>
	<key>upAngle</key>
	<integer>40</integer>
	<key>shop</key>
	<dict>
		<key>cost</key>
		<string>0</string>
		<key>description</key>
		<string>Sonic wave of DEATH</string>
		<key>icon</key>
		<string>bluewaveicon.png</string>
		<key>name</key>
		<string>Sonic Wave</string>
		<key>identifier</key>
		<string>bluewave</string>
		<key>type</key>
		<string>weapon</string>
	</dict>
</dict>
</plist>
