<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>maxAngleOffset</key>
	<integer>0</integer>
	<key>maxLifetime</key>
	<integer>3</integer>
	<key>maxNumBullets</key>
	<integer>1</integer>
	<key>maxSpeed</key>
	<integer>350</integer>
	<key>minAngleOffset</key>
	<integer>0</integer>
	<key>minLifetime</key>
	<integer>3</integer>
	<key>minNumBullets</key>
	<integer>1</integer>
	<key>minSpeed</key>
	<integer>350</integer>
	<key>rateOfFire</key>
	<real>0.1</real>
	<key>sprite</key>
	<string>bossBullet.png</string>
	<key>sound</key>
	<string>lasershot1-short2.wav</string>
	<key>volume</key>
	<integer>1</integer>
	<key>damage</key>
	<integer>1</integer>
	<key>collisionShape</key>
	<string>bossBullet</string>
	<key>angles</key>
	<array>
		<integer>0</integer>
		<integer>-20</integer>
	</array>
	<key>shotBehaviors</key>
	<array>
		<dict>
			<key>minRange</key>
			<dict>
				<key>high</key>
				<string>-50</string>
				<key>low</key>
				<string>-50</string>
			</dict>
			<key>maxRange</key>
			<dict>
				<key>high</key>
				<string>10</string>
				<key>low</key>
				<string>10</string>
			</dict>
			<key>curve</key>
			<string>easeInOutSine</string>
			<key>loop</key>
			<true/>
			<key>property</key>
			<string>rotation</string>
			<key>repeat</key>
			<true/>
			<key>speed</key>
			<integer>2</integer>
			<key>start</key>
			<string>min</string>
		</dict>
	</array>
	<key>shotsPerInterval</key>
	<integer>5</integer>
	<key>intervalTime</key>
	<integer>1</integer>
</dict>
</plist>
