<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chunks</key>
	<array>
		<array>
			<string>bossLevel1.tmx</string>
		</array>
	</array>
	<key>firstChunk</key>
	<string>bossLevel1.tmx</string>
	<key>overrideChunk</key>
	<string></string>
	<key>backgroundColor</key>
	<string>211, 72, 71</string>
	<key>parallax</key>
	<array>
		<dict>
			<key>images</key>
			<array>
				<string>aliensky.png</string>
			</array>
			<key>imageWidth</key>
			<integer>960</integer>
			<key>ratio</key>
			<string>{0.05,0.05}</string>
			<key>y</key>
			<integer>0</integer>
			<key>seamless</key>
			<true/>
		</dict>
		<dict>
			<key>images</key>
			<array>
				<string>alienplanet.png</string>
			</array>
			<key>imageWidth</key>
			<integer>1024</integer>
			<key>ratio</key>
			<string>{0.005,0.005}</string>
			<key>y</key>
			<integer>100</integer>
			<key>seamless</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
