<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>patterns</key>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{0,36}</string>
			<string>{0,72}</string>
			<string>{0,108}</string>
			<string>{36,0}</string>
			<string>{36,36}</string>
			<string>{36,72}</string>
			<string>{36,108}</string>
			<string>{72,0}</string>
			<string>{72,36}</string>
			<string>{72,72}</string>
			<string>{72,108}</string>
			<string>{108,0}</string>
			<string>{108,36}</string>
			<string>{108,72}</string>
			<string>{108,108}</string>
		</array>
	</array>
</dict>
</plist>
