<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>image</key>
	<string>uiatlas.png</string>
	<key>animations</key>
	<array>
		<dict>
			<key>frames</key>
			<array>
				<string>oldCoin1.png</string>
				<string>oldCoin2.png</string>
				<string>oldCoin3.png</string>
				<string>oldCoin4.png</string>
			</array>
			<key>name</key>
			<string>coinExplosionIdle</string>
			<key>speed</key>
			<real>0.1</real>
		</dict>
	</array>
	<key>plist</key>
	<string>uiatlas.plist</string>
	<key>boundingBox</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>0</integer>
		<key>width</key>
		<integer>32</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<key>xMovementRange</key>
	<string>{100,200}</string>
	<key>yMovementRange</key>
	<string>{500,800}</string>
	<key>lifetime</key>
	<integer>5</integer>
	<key>gravity</key>
	<string>{0,50}</string>
	<key>bounciness</key>
	<real>0.75</real>
	<key>tileCenterOffset</key>
	<integer>41</integer>
</dict>
</plist>
