<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>xMovementRange</key>
	<string>{-75,0}</string>
	<key>yMovementRange</key>
	<string>{300,500}</string>
	<key>lifetime</key>
	<integer>5</integer>
	<key>gravity</key>
	<string>{0,40}</string>
	<key>bounciness</key>
	<real>0.85</real>
	<key>tileCenterOffset</key>
	<integer>41</integer>
</dict>
</plist>
