<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>patterns</key>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{0,36}</string>
			<string>{0,72}</string>
			<string>{0,108}</string>
			<string>{36,0}</string>
			<string>{36,36}</string>
			<string>{36,72}</string>
			<string>{36,108}</string>
			<string>{72,0}</string>
			<string>{72,36}</string>
			<string>{72,72}</string>
			<string>{72,108}</string>
			<string>{108,0}</string>
			<string>{108,36}</string>
			<string>{108,72}</string>
			<string>{108,108}</string>
		</array>
		<array>
			<string>{0,96}</string>
			<string>{0,128}</string>
			<string>{0,160}</string>
			<string>{0,192}</string>
			<string>{0,224}</string>
			<string>{0,256}</string>
			<string>{0,288}</string>
			<string>{32,288}</string>
			<string>{64,256}</string>
			<string>{64,224}</string>
			<string>{64,192}</string>
			<string>{96,288}</string>
			<string>{128,288}</string>
			<string>{128,256}</string>
			<string>{128,224}</string>
			<string>{128,192}</string>
			<string>{128,160}</string>
			<string>{128,128}</string>
			<string>{128,96}</string>
			<string>{192,288}</string>
			<string>{192,256}</string>
			<string>{192,224}</string>
			<string>{192,192}</string>
			<string>{192,160}</string>
			<string>{192,128}</string>
			<string>{224,96}</string>
			<string>{256,96}</string>
			<string>{288,96}</string>
			<string>{320,128}</string>
			<string>{320,160}</string>
			<string>{320,192}</string>
			<string>{320,224}</string>
			<string>{320,256}</string>
			<string>{320,288}</string>
			<string>{384,288}</string>
			<string>{416,288}</string>
			<string>{448,288}</string>
			<string>{448,256}</string>
			<string>{448,224}</string>
			<string>{448,192}</string>
			<string>{448,160}</string>
			<string>{448,128}</string>
			<string>{448,96}</string>
			<string>{480,288}</string>
			<string>{512,288}</string>
		</array>
		<array>
			<string>{0,32}</string>
			<string>{0,64}</string>
			<string>{32,64}</string>
			<string>{32,96}</string>
			<string>{64,96}</string>
			<string>{64,128}</string>
			<string>{96,128}</string>
			<string>{96,160}</string>
			<string>{128,160}</string>
			<string>{128,128}</string>
			<string>{160,160}</string>
			<string>{160,128}</string>
			<string>{192,128}</string>
			<string>{192,96}</string>
			<string>{224,96}</string>
			<string>{224,64}</string>
			<string>{256,64}</string>
			<string>{256,0}</string>
			<string>{288,64}</string>
			<string>{288,0}</string>
			<string>{320,64}</string>
			<string>{320,96}</string>
			<string>{352,96}</string>
			<string>{352,128}</string>
			<string>{384,128}</string>
			<string>{384,160}</string>
			<string>{416,128}</string>
			<string>{416,160}</string>
			<string>{448,160}</string>
		</array>
		<array>
			<string>{0,0}</string>
			<string>{0,64}</string>
			<string>{32,32}</string>
			<string>{64,0}</string>
			<string>{64,64}</string>
			<string>{96,0}</string>
			<string>{128,0}</string>
			<string>{128,64}</string>
			<string>{160,0}</string>
			<string>{192,0}</string>
			<string>{192,64}</string>
			<string>{224,0}</string>
			<string>{256,0}</string>
			<string>{256,64}</string>
			<string>{288,0}</string>
			<string>{320,0}</string>
			<string>{320,64}</string>
			<string>{352,0}</string>
			<string>{384,0}</string>
			<string>{384,64}</string>
			<string>{416,0}</string>
			<string>{448,0}</string>
			<string>{448,64}</string>
			<string>{480,0}</string>
			<string>{512,0}</string>
			<string>{512,64}</string>
		</array>
	</array>
</dict>
</plist>
