<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>health</key>
	<integer>150</integer>
	<key>animations</key>
	<array>
		<dict>
			<key>frames</key>
			<array>
				<string>dropship_1.png</string>
				<string>dropship_1_2.png</string>
			</array>
			<key>name</key>
			<string>walk</string>
			<key>speed</key>
			<real>0.1</real>
		</dict>
	</array>
	<key>spawnRate</key>
	<real>0.8</real>
	<key>image</key>
	<string>uiatlas.png</string>
	<key>plist</key>
	<string>uiatlas.plist</string>
	<key>enemyTypes</key>
	<array>
		<string>testEnemy</string>
		<string>enemyBird</string>
	</array>
	<key>boundingBox</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>0</integer>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>offsetTop</key>
	<dict>
		<key>x</key>
		<integer>-500</integer>
		<key>y</key>
		<integer>125</integer>
	</dict>
	<key>offsetMiddle</key>
	<dict>
		<key>x</key>
		<integer>-300</integer>
		<key>y</key>
		<integer>100</integer>
	</dict>
	<key>offsetBottom</key>
	<dict>
		<key>x</key>
		<integer>-400</integer>
		<key>y</key>
		<integer>100</integer>
	</dict>
</dict>
</plist>
