<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<array>
		<dict>
			<key>frames</key>
			<array>
				<string>enemy_soldier4.png</string>
				<string>enemy_soldier7.png</string>
				<string>enemy_soldier6.png</string>
				<string>enemy_soldier18.png</string>
				<string>enemy_soldier17.png</string>
			</array>
			<key>name</key>
			<string>walk</string>
			<key>speed</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>frames</key>
			<array>
				<string>explosion1.png</string>
				<string>explosion2.png</string>
				<string>explosion3.png</string>
				<string>explosion4.png</string>
				<string>explosion5.png</string>
				<string>explosion6.png</string>
			</array>
			<key>name</key>
			<string>death</string>
			<key>speed</key>
			<real>0.1</real>
		</dict>
	</array>
	<key>image</key>
	<string>uiatlas.png</string>
	<key>plist</key>
	<string>uiatlas.plist</string>
	<key>type</key>
	<string>walking</string>
	<key>tileCenterOffset</key>
	<integer>20</integer>
	<key>health</key>
	<integer>8</integer>
	<key>gravity</key>
	<integer>40</integer>
	<key>speed</key>
	<dict>
		<key>x</key>
		<integer>-100</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>boundingBox</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>0</integer>
		<key>width</key>
		<integer>128</integer>
		<key>height</key>
		<integer>128</integer>
	</dict>
</dict>
</plist>
