<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>health</key>
	<integer>100</integer>
	<key>animations</key>
	<array>
		<dict>
			<key>frames</key>
			<array>
				<string>energyGunShip.png</string>
			</array>
			<key>name</key>
			<string>walk</string>
			<key>speed</key>
			<real>0.1</real>
		</dict>
	</array>
	<key>spawnRate</key>
	<real>0.3</real>
	<key>image</key>
	<string>uiatlas.png</string>
	<key>plist</key>
	<string>uiatlas.plist</string>
	<key>enemyTypes</key>
	<array>
		<string>laserBlast</string>
	</array>
	<key>offsetTop</key>
	<dict>
		<key>x</key>
		<integer>-300</integer>
		<key>y</key>
		<integer>125</integer>
	</dict>
	<key>offsetMiddle</key>
	<dict>
		<key>x</key>
		<integer>-300</integer>
		<key>y</key>
		<integer>100</integer>
	</dict>
	<key>offsetBottom</key>
	<dict>
		<key>x</key>
		<integer>-300</integer>
		<key>y</key>
		<integer>100</integer>
	</dict>
	<key>coins</key>
	<integer>25</integer>
	<key>sounds</key>
	<dict>
		<key>hit</key>
		<string>dullthud.wav</string>
		<key>death</key>
		<string>dropshipexplosion.wav</string>
	</dict>
	<key>particles</key>
	<string>dropShip1HitParticle.plist</string>
	<key>collisionShape</key>
	<string>energyGunShip</string>
</dict>
</plist>
