<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angles</key>
	<array>
		<integer>0</integer>
	</array>
	<key>behaviors</key>
	<array>
		<dict>
			<key>maxRange</key>
			<dict>
				<key>high</key>
				<string>1, 0.27, 0</string>
				<key>low</key>
				<string>1, 0, 0</string>
			</dict>
			<key>minRange</key>
			<dict>
				<key>high</key>
				<string>1, 1, 0</string>
				<key>low</key>
				<string>1, 0.84, 0</string>
			</dict>
			<key>curve</key>
			<string>ease</string>
			<key>loop</key>
			<false/>
			<key>property</key>
			<string>color</string>
			<key>repeat</key>
			<false/>
			<key>speed</key>
			<real>0.25</real>
			<key>start</key>
			<string>max</string>
		</dict>
		<dict>
			<key>maxRange</key>
			<dict>
				<key>high</key>
				<string>50</string>
				<key>low</key>
				<string>40</string>
			</dict>
			<key>minRange</key>
			<dict>
				<key>high</key>
				<string>0</string>
				<key>low</key>
				<string>0</string>
			</dict>
			<key>curve</key>
			<string>easeInExpo</string>
			<key>loop</key>
			<false/>
			<key>property</key>
			<string>y</string>
			<key>repeat</key>
			<false/>
			<key>speed</key>
			<real>1.5</real>
			<key>start</key>
			<string>max</string>
		</dict>
		<dict>
			<key>curve</key>
			<string>easeInExpo</string>
			<key>loop</key>
			<false/>
			<key>maxRange</key>
			<dict>
				<key>high</key>
				<string>0</string>
				<key>low</key>
				<string>0</string>
			</dict>
			<key>minRange</key>
			<dict>
				<key>high</key>
				<string>1</string>
				<key>low</key>
				<string>1</string>
			</dict>
			<key>property</key>
			<string>alpha</string>
			<key>repeat</key>
			<false/>
			<key>speed</key>
			<real>1.25</real>
			<key>start</key>
			<string>max</string>
		</dict>
	</array>
	<key>blend</key>
	<true/>
	<key>maxAngleOffset</key>
	<integer>10</integer>
	<key>maxLifetime</key>
	<real>1.5</real>
	<key>maxNumBullets</key>
	<integer>5</integer>
	<key>maxSpeed</key>
	<integer>200</integer>
	<key>minAngleOffset</key>
	<integer>-10</integer>
	<key>minLifetime</key>
	<integer>1</integer>
	<key>minNumBullets</key>
	<integer>3</integer>
	<key>minSpeed</key>
	<integer>150</integer>
	<key>rateOfFire</key>
	<real>0.1</real>
	<key>sprite</key>
	<string>flame.png</string>
</dict>
</plist>
