<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angles</key>
	<array>
		<integer>0</integer>
		<string>2</string>
	</array>
	<key>behaviors</key>
	<array/>
	<key>blend</key>
	<true/>
	<key>maxAngleOffset</key>
	<integer>3</integer>
	<key>maxLifetime</key>
	<real>1.5</real>
	<key>maxNumBullets</key>
	<integer>1</integer>
	<key>maxSpeed</key>
	<integer>1200</integer>
	<key>minAngleOffset</key>
	<integer>-3</integer>
	<key>minLifetime</key>
	<real>1.5</real>
	<key>minNumBullets</key>
	<integer>1</integer>
	<key>minSpeed</key>
	<integer>1200</integer>
	<key>rateOfFire</key>
	<real>0.05</real>
	<key>sprite</key>
	<string>gattlingunbullet.png</string>
	<key>damage</key>
	<real>0.83</real>
	<key>sound</key>
	<string>gattlingun.wav</string>
	<key>volume</key>
	<real>0.9</real>
	<key>particles</key>
	<string>gattlingunparticle.plist</string>
	<key>collisionShape</key>
	<string>gattlingunbullet</string>
</dict>
</plist>
