<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angles</key>
	<array>
		<integer>0</integer>
		<string>2</string>
	</array>
	<key>behaviors</key>
	<array>
		<dict>
			<key>maxRange</key>
			<dict>
				<key>high</key>
				<string>1, 1, 1</string>
				<key>low</key>
				<string>1, 1, 1</string>
			</dict>
			<key>minRange</key>
			<dict>
				<key>high</key>
				<string>1, 1, 1</string>
				<key>low</key>
				<string>1, 1, 1</string>
			</dict>
			<key>curve</key>
			<string>ease</string>
			<key>loop</key>
			<true/>
			<key>property</key>
			<string>color</string>
			<key>repeat</key>
			<true/>
			<key>speed</key>
			<real>0.5</real>
			<key>start</key>
			<string>max</string>
		</dict>
		<dict>
			<key>maxRange</key>
			<dict>
				<key>high</key>
				<string>0</string>
				<key>low</key>
				<string>0</string>
			</dict>
			<key>minRange</key>
			<dict>
				<key>high</key>
				<string>0</string>
				<key>low</key>
				<string>0</string>
			</dict>
			<key>curve</key>
			<string>easeInOutSine</string>
			<key>loop</key>
			<true/>
			<key>property</key>
			<string>y</string>
			<key>repeat</key>
			<true/>
			<key>speed</key>
			<integer>1</integer>
			<key>start</key>
			<string>max</string>
		</dict>
		<dict>
			<key>maxRange</key>
			<dict>
				<key>high</key>
				<string>1</string>
				<key>low</key>
				<string>1</string>
			</dict>
			<key>minRange</key>
			<dict>
				<key>high</key>
				<string>1</string>
				<key>low</key>
				<string>1</string>
			</dict>
			<key>curve</key>
			<string>ease</string>
			<key>loop</key>
			<false/>
			<key>property</key>
			<string>alpha</string>
			<key>repeat</key>
			<false/>
			<key>speed</key>
			<integer>1</integer>
			<key>start</key>
			<string>max</string>
		</dict>
	</array>
	<key>blend</key>
	<true/>
	<key>maxAngleOffset</key>
	<integer>3</integer>
	<key>maxLifetime</key>
	<integer>10</integer>
	<key>maxNumBullets</key>
	<integer>1</integer>
	<key>maxSpeed</key>
	<integer>1200</integer>
	<key>minAngleOffset</key>
	<integer>-3</integer>
	<key>minLifetime</key>
	<integer>10</integer>
	<key>minNumBullets</key>
	<integer>1</integer>
	<key>minSpeed</key>
	<integer>1200</integer>
	<key>rateOfFire</key>
	<real>0.05</real>
	<key>sprite</key>
	<string>gattlingunbullet.png</string>
	<key>boundingBox</key>
	<dict>
		<key>x</key>
		<real>0</real>
		<key>y</key>
		<real>0</real>
		<key>width</key>
		<integer>103</integer>
		<key>height</key>
		<integer>5</integer>
	</dict>
	<key>damage</key>
	<real>0.83</real>
	<key>sound</key>
	<string>gattlingun.wav</string>
	<key>particles</key>
	<string>gattlingunparticle.plist</string>
</dict>
</plist>
