<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chunks</key>
	<array>
		<string>chunk1.tmx</string>
		<string>chunk2.tmx</string>
		<string>chunk3.tmx</string>
	</array>
	<key>firstChunk</key>
	<string>contrachunk.tmx</string>
	<key>overrideChunk</key>
	<string></string>
	<key>parallax</key>
	<array>
		<dict>
			<key>images</key>
			<array>
				<string>sky_far.png</string>
			</array>
			<key>imageWidth</key>
			<integer>960</integer>
			<key>ratio</key>
			<real>0.05</real>
			<key>y</key>
			<integer>0</integer>
			<key>seamless</key>
			<true/>
		</dict>
		<dict>
			<key>images</key>
			<array>
				<string>cloud1.png</string>
				<string>cloud2.png</string>
			</array>
			<key>imageWidth</key>
			<integer>528</integer>
			<key>ratio</key>
			<real>0.25</real>
			<key>y</key>
			<integer>0</integer>
			<key>seamless</key>
			<false/>
		</dict>
		<dict>
			<key>images</key>
			<array>
				<string>backbackrefinery.png</string>
				<string>backbackpeak.png</string>
				<string>backbackmountain.png</string>
				<string>backbackspires.png</string>
			</array>
			<key>imageWidth</key>
			<integer>910</integer>
			<key>ratio</key>
			<real>0.125</real>
			<key>y</key>
			<integer>0</integer>
			<key>seamless</key>
			<false/>
		</dict>
		<dict>
			<key>images</key>
			<array>
				<string>backforest1.png</string>
				<string>backforest2.png</string>
				<string>backforest3.png</string>
			</array>
			<key>imageWidth</key>
			<integer>960</integer>
			<key>ratio</key>
			<real>0.2</real>
			<key>y</key>
			<integer>0</integer>
			<key>seamless</key>
			<true/>
		</dict>
		<dict>
			<key>images</key>
			<array>
				<string>frontforest1.png</string>
				<string>frontforest2.png</string>
				<string>frontforest3.png</string>
				<string>frontforest4.png</string>
				<string>frontforest5.png</string>
				<string>frontforest6.png</string>
			</array>
			<key>imageWidth</key>
			<integer>960</integer>
			<key>ratio</key>
			<real>0.35</real>
			<key>y</key>
			<integer>0</integer>
			<key>seamless</key>
			<true/>
		</dict>
		<dict>
			<key>images</key>
			<array>
				<string>backfog.png</string>
			</array>
			<key>imageWidth</key>
			<integer>960</integer>
			<key>ratio</key>
			<real>0.55</real>
			<key>y</key>
			<integer>0</integer>
			<key>seamless</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
