<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chunks</key>
	<array>
		<string>chunk1.tmx</string>
		<string>chunk3.tmx</string>
		<string>chunk4.tmx</string>
		<string>chunk2.tmx</string>
		<string>chunk5.tmx</string>
	</array>
	<key>firstChunk</key>
	<string>start.tmx</string>
	<key>overrideChunk</key>
	<string>junglechunk1.tmx</string>
</dict>
</plist>
