<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>minSpeed</key>
	<dict>
		<key>x</key>
		<integer>12</integer>
		<key>y</key>
		<real>-0.25</real>
	</dict>
	<key>maxSpeed</key>
	<dict>
		<key>x</key>
		<integer>13</integer>
		<key>y</key>
		<real>0.25</real>
	</dict>
	<key>lifetime</key>
	<dict>
		<key>min</key>
		<integer>3</integer>
		<key>max</key>
		<integer>3</integer>
	</dict>
	<key>rateOfFire</key>
	<real>0.05</real>
	<key>numBulletsToFire</key>
	<integer>1</integer>
	<key>graphic</key>
	<string>bullet.png</string>
</dict>
</plist>
