<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angles</key>
	<array>
		<integer>0</integer>
	</array>
	<key>behaviors</key>
	<array>
		<dict>
			<key>minRange</key>
			<dict>
				<key>high</key>
				<string>1, 1, 1</string>
				<key>low</key>
				<string>1, 1, 1</string>
			</dict>
			<key>maxRange</key>
			<dict>
				<key>high</key>
				<string>1, 1, 1</string>
				<key>low</key>
				<string>1, 1, 1</string>
			</dict>
			<key>curve</key>
			<string>ease</string>
			<key>loop</key>
			<true/>
			<key>property</key>
			<string>color</string>
			<key>repeat</key>
			<true/>
			<key>speed</key>
			<real>0.5</real>
			<key>start</key>
			<string>max</string>
		</dict>
		<dict>
			<key>minRange</key>
			<dict>
				<key>high</key>
				<string>0</string>
				<key>low</key>
				<string>0</string>
			</dict>
			<key>maxRange</key>
			<dict>
				<key>high</key>
				<string>0</string>
				<key>low</key>
				<string>0</string>
			</dict>
			<key>curve</key>
			<string>easeInOutSine</string>
			<key>loop</key>
			<true/>
			<key>property</key>
			<string>y</string>
			<key>repeat</key>
			<true/>
			<key>speed</key>
			<integer>1</integer>
			<key>start</key>
			<string>max</string>
		</dict>
		<dict>
			<key>minRange</key>
			<dict>
				<key>high</key>
				<string>1</string>
				<key>low</key>
				<string>1</string>
			</dict>
			<key>maxRange</key>
			<dict>
				<key>high</key>
				<string>1</string>
				<key>low</key>
				<string>1</string>
			</dict>
			<key>curve</key>
			<string>ease</string>
			<key>loop</key>
			<false/>
			<key>property</key>
			<string>alpha</string>
			<key>repeat</key>
			<false/>
			<key>speed</key>
			<integer>1</integer>
			<key>start</key>
			<string>max</string>
		</dict>
	</array>
	<key>maxAngleOffset</key>
	<integer>3</integer>
	<key>maxLifetime</key>
	<integer>2</integer>
	<key>maxNumBullets</key>
	<integer>1</integer>
	<key>maxSpeed</key>
	<integer>700</integer>
	<key>minAngleOffset</key>
	<integer>-3</integer>
	<key>minLifetime</key>
	<integer>2</integer>
	<key>minNumBullets</key>
	<integer>1</integer>
	<key>minSpeed</key>
	<integer>700</integer>
	<key>rateOfFire</key>
	<real>0.15</real>
	<key>sprite</key>
	<string>yellowbullet.png</string>
	<key>sound</key>
	<string>machinegun.wav</string>
	<key>damage</key>
	<real>2.5</real>
	<key>particles</key>
	<string>machinegunBlast.plist</string>
	<key>collisionShape</key>
	<string>yellowbullet</string>
</dict>
</plist>
