<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gravity</key>
	<integer>300</integer>
	<key>jump</key>
	<integer>20000</integer>
	<key>maxDownwardSpeed</key>
	<integer>1300</integer>
	<key>maxJumpTime</key>
	<real>0.17</real>
	<key>invincibleTimeAfterLosingHealth</key>
	<integer>1</integer>
	<key>speedRamp</key>
	<dict>
		<key>incrementPercent</key>
		<real>0.025</real>
		<key>maxSpeed</key>
		<integer>1000</integer>
		<key>minSpeed</key>
		<integer>800</integer>
		<key>numChunksToIncrement</key>
		<integer>1</integer>
	</dict>
	<key>tileCenterOffset</key>
	<integer>25</integer>
	<key>health</key>
	<integer>3</integer>
	<key>torsoOffsets</key>
	<array>
		<dict>
			<key>imageName</key>
			<string>run1.png</string>
			<key>offset</key>
			<dict>
				<key>x</key>
				<integer>25</integer>
				<key>y</key>
				<integer>107</integer>
			</dict>
		</dict>
		<dict>
			<key>imageName</key>
			<string>run2.png</string>
			<key>offset</key>
			<dict>
				<key>x</key>
				<integer>25</integer>
				<key>y</key>
				<integer>106</integer>
			</dict>
		</dict>
		<dict>
			<key>imageName</key>
			<string>run3.png</string>
			<key>offset</key>
			<dict>
				<key>x</key>
				<integer>25</integer>
				<key>y</key>
				<integer>104</integer>
			</dict>
		</dict>
		<dict>
			<key>imageName</key>
			<string>run4.png</string>
			<key>offset</key>
			<dict>
				<key>x</key>
				<integer>25</integer>
				<key>y</key>
				<integer>102</integer>
			</dict>
		</dict>
		<dict>
			<key>imageName</key>
			<string>run5.png</string>
			<key>offset</key>
			<dict>
				<key>x</key>
				<integer>25</integer>
				<key>y</key>
				<integer>102</integer>
			</dict>
		</dict>
		<dict>
			<key>imageName</key>
			<string>run6.png</string>
			<key>offset</key>
			<dict>
				<key>x</key>
				<integer>25</integer>
				<key>y</key>
				<integer>104</integer>
			</dict>
		</dict>
		<dict>
			<key>imageName</key>
			<string>run7.png</string>
			<key>offset</key>
			<dict>
				<key>x</key>
				<integer>25</integer>
				<key>y</key>
				<integer>106</integer>
			</dict>
		</dict>
		<dict>
			<key>imageName</key>
			<string>run8.png</string>
			<key>offset</key>
			<dict>
				<key>x</key>
				<integer>25</integer>
				<key>y</key>
				<integer>106</integer>
			</dict>
		</dict>
		<dict>
			<key>imageName</key>
			<string>jump1.png</string>
			<key>offset</key>
			<dict>
				<key>x</key>
				<integer>35</integer>
				<key>y</key>
				<integer>100</integer>
			</dict>
		</dict>
		<dict>
			<key>imageName</key>
			<string>jump2.png</string>
			<key>offset</key>
			<dict>
				<key>x</key>
				<integer>30</integer>
				<key>y</key>
				<integer>110</integer>
			</dict>
		</dict>
		<dict>
			<key>imageName</key>
			<string>jump3.png</string>
			<key>offset</key>
			<dict>
				<key>x</key>
				<integer>20</integer>
				<key>y</key>
				<integer>115</integer>
			</dict>
		</dict>
		<dict>
			<key>imageName</key>
			<string>jump4.png</string>
			<key>offset</key>
			<dict>
				<key>x</key>
				<integer>11</integer>
				<key>y</key>
				<integer>115</integer>
			</dict>
		</dict>
		<dict>
			<key>imageName</key>
			<string>jump5.png</string>
			<key>offset</key>
			<dict>
				<key>x</key>
				<integer>15</integer>
				<key>y</key>
				<integer>100</integer>
			</dict>
		</dict>
	</array>
</dict>
</plist>
