<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<array>
		<dict>
			<key>frames</key>
			<array>
				<string>run1.png</string>
				<string>run2.png</string>
				<string>run3.png</string>
				<string>run4.png</string>
				<string>run5.png</string>
				<string>run6.png</string>
				<string>run7.png</string>
				<string>run8.png</string>
			</array>
			<key>name</key>
			<string>run</string>
			<key>speed</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>frames</key>
			<array>
				<string>jump1.png</string>
				<string>jump2.png</string>
			</array>
			<key>name</key>
			<string>beginJump</string>
			<key>speed</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>frames</key>
			<array>
				<string>jump3.png</string>
				<string>jump4.png</string>
			</array>
			<key>name</key>
			<string>middleJump</string>
			<key>speed</key>
			<real>0.3</real>
		</dict>
		<dict>
			<key>frames</key>
			<array>
				<string>jump5.png</string>
			</array>
			<key>name</key>
			<string>endJump</string>
			<key>speed</key>
			<real>0.1</real>
		</dict>
	</array>
	<key>gravity</key>
	<integer>40</integer>
	<key>image</key>
	<string>uiatlas.png</string>
	<key>jump</key>
	<integer>280</integer>
	<key>maxDownwardSpeed</key>
	<integer>300</integer>
	<key>maxJumpTime</key>
	<real>0.45</real>
	<key>plist</key>
	<string>uiatlas.plist</string>
	<key>shootAngle</key>
	<integer>35</integer>
	<key>speedRamp</key>
	<dict>
		<key>incrementPercent</key>
		<real>0.05</real>
		<key>maxSpeed</key>
		<integer>700</integer>
		<key>minSpeed</key>
		<integer>300</integer>
		<key>numChunksToIncrement</key>
		<integer>1</integer>
	</dict>
	<key>tileCenterOffset</key>
	<integer>14</integer>
	<key>torsoOffsets</key>
	<array>
		<dict>
			<key>offset</key>
			<dict>
				<key>x</key>
				<integer>30</integer>
				<key>y</key>
				<integer>107</integer>
			</dict>
			<key>imageName</key>
			<string>run1.png</string>
		</dict>
		<dict>
			<key>offset</key>
			<dict>
				<key>x</key>
				<integer>30</integer>
				<key>y</key>
				<integer>106</integer>
			</dict>
			<key>imageName</key>
			<string>run2.png</string>
		</dict>
		<dict>
			<key>offset</key>
			<dict>
				<key>x</key>
				<integer>30</integer>
				<key>y</key>
				<integer>104</integer>
			</dict>
			<key>imageName</key>
			<string>run3.png</string>
		</dict>
		<dict>
			<key>offset</key>
			<dict>
				<key>x</key>
				<integer>30</integer>
				<key>y</key>
				<integer>102</integer>
			</dict>
			<key>imageName</key>
			<string>run4.png</string>
		</dict>
		<dict>
			<key>offset</key>
			<dict>
				<key>x</key>
				<integer>30</integer>
				<key>y</key>
				<integer>102</integer>
			</dict>
			<key>imageName</key>
			<string>run5.png</string>
		</dict>
		<dict>
			<key>offset</key>
			<dict>
				<key>x</key>
				<integer>30</integer>
				<key>y</key>
				<integer>104</integer>
			</dict>
			<key>imageName</key>
			<string>run6.png</string>
		</dict>
		<dict>
			<key>offset</key>
			<dict>
				<key>x</key>
				<integer>30</integer>
				<key>y</key>
				<integer>106</integer>
			</dict>
			<key>imageName</key>
			<string>run7.png</string>
		</dict>
		<dict>
			<key>offset</key>
			<dict>
				<key>x</key>
				<integer>30</integer>
				<key>y</key>
				<integer>107</integer>
			</dict>
			<key>imageName</key>
			<string>run8.png</string>
		</dict>
		<dict>
			<key>offset</key>
			<dict>
				<key>x</key>
				<integer>40</integer>
				<key>y</key>
				<integer>100</integer>
			</dict>
			<key>imageName</key>
			<string>jump1.png</string>
		</dict>
		<dict>
			<key>offset</key>
			<dict>
				<key>x</key>
				<integer>35</integer>
				<key>y</key>
				<integer>115</integer>
			</dict>
			<key>imageName</key>
			<string>jump2.png</string>
		</dict>
		<dict>
			<key>offset</key>
			<dict>
				<key>x</key>
				<integer>25</integer>
				<key>y</key>
				<integer>115</integer>
			</dict>
			<key>imageName</key>
			<string>jump3.png</string>
		</dict>
		<dict>
			<key>offset</key>
			<dict>
				<key>x</key>
				<integer>16</integer>
				<key>y</key>
				<integer>115</integer>
			</dict>
			<key>imageName</key>
			<string>jump4.png</string>
		</dict>
		<dict>
			<key>offset</key>
			<dict>
				<key>x</key>
				<integer>20</integer>
				<key>y</key>
				<integer>100</integer>
			</dict>
			<key>imageName</key>
			<string>jump5.png</string>
		</dict>
	</array>
</dict>
</plist>
