<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>walk</key>
		<dict>
			<key>frames</key>
			<array>
				<string>walk1.png</string>
				<string>walk2.png</string>
				<string>walk3.png</string>
				<string>walk4.png</string>
			</array>
			<key>image</key>
			<string>walkCycle.png</string>
			<key>plist</key>
			<string>walkCycle.plist</string>
			<key>speed</key>
			<real>0.1</real>
		</dict>
	</dict>
	<key>jump</key>
	<integer>7</integer>
	<key>maxJumpTime</key>
	<real>0.25</real>
	<key>speedRamp</key>
	<dict>
		<key>incrementPercent</key>
		<real>0.1</real>
		<key>maxSpeed</key>
		<integer>10</integer>
		<key>minSpeed</key>
		<integer>4</integer>
		<key>numChunksToIncrement</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>
