<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>downAngle</key>
	<integer>-30</integer>
	<key>shots</key>
	<array>
		<string>flamethrower_bulletSmall</string>
		<string>gatlingun_bullet</string>
	</array>
	<key>sprite</key>
	<string></string>
	<key>straightAngle</key>
	<integer>0</integer>
	<key>torsoDownOffset</key>
	<dict>
		<key>x</key>
		<integer>36</integer>
		<key>y</key>
		<integer>-72</integer>
	</dict>
	<key>torsoOffset</key>
	<dict>
		<key>x</key>
		<integer>20</integer>
		<key>y</key>
		<integer>-48</integer>
	</dict>
	<key>torsoUpOffset</key>
	<dict>
		<key>x</key>
		<integer>36</integer>
		<key>y</key>
		<integer>-2</integer>
	</dict>
	<key>upAngle</key>
	<integer>40</integer>
	<key>shop</key>
	<dict>
		<key>cost</key>
		<string>0</string>
		<key>description</key>
		<string>Flame + Machinegun</string>
		<key>icon</key>
		<string>ripley.png</string>
		<key>name</key>
		<string>Ripley</string>
		<key>identifier</key>
		<string>ripley</string>
		<key>type</key>
		<string>weapon</string>
	</dict>
</dict>
</plist>
