<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coins</key>
	<string>$50</string>
	<key>description</key>
	<string>Doubles coins</string>
	<key>equipmentName</key>
	<string>coinPotion</string>
	<key>icon</key>
	<string>shopItem3.png</string>
	<key>name</key>
	<string>Coin Potion</string>
</dict>
</plist>
