<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<string>pistol</string>
		<string>burstshot</string>
		<string>machinegun</string>
		<string>shotgun</string>
		<string>bluewave</string>
		<string>gattlingun</string>
		<string>wavegun</string>
		<string>ripley</string>
		<string>spreadgun</string>
		<string>ultraLaser</string>
		<string>flamethrower</string>
	</array>
</dict>
</plist>
