<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coins</key>
	<string>$100</string>
	<key>description</key>
	<string>Revives fallen hero</string>
	<key>equipmentName</key>
	<string>phoenixDown</string>
	<key>icon</key>
	<string>shopItem4.png</string>
	<key>name</key>
	<string>Phoenix Down</string>
</dict>
</plist>
