<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angles</key>
	<array>
		<integer>0</integer>
		<string>15</string>
		<string>-15</string>
		<string>30</string>
		<string>-30</string>
	</array>
	<key>behaviors</key>
	<array>
		<dict>
			<key>curve</key>
			<string>ease</string>
			<key>maxMinValue</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>maxMaxValue</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>minMinValue</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>minMaxValue</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>property</key>
			<string>color</string>
			<key>speed</key>
			<real>0.5</real>
			<key>start</key>
			<string>max</string>
			<key>repeat</key>
			<true/>
			<key>loop</key>
			<true/>
		</dict>
		<dict>
			<key>curve</key>
			<string>ease</string>
			<key>maxMaxValue</key>
			<array>
				<integer>0</integer>
			</array>
			<key>maxMinValue</key>
			<array>
				<integer>0</integer>
			</array>
			<key>minMaxValue</key>
			<array>
				<integer>0</integer>
			</array>
			<key>minMinValue</key>
			<array>
				<integer>0</integer>
			</array>
			<key>property</key>
			<string>y</string>
			<key>speed</key>
			<integer>1</integer>
			<key>start</key>
			<string>max</string>
			<key>repeat</key>
			<true/>
			<key>loop</key>
			<false/>
		</dict>
		<dict>
			<key>curve</key>
			<string>ease</string>
			<key>maxMaxValue</key>
			<array>
				<integer>1</integer>
			</array>
			<key>maxMinValue</key>
			<array>
				<integer>1</integer>
			</array>
			<key>minMaxValue</key>
			<array>
				<integer>1</integer>
			</array>
			<key>minMinValue</key>
			<array>
				<integer>1</integer>
			</array>
			<key>property</key>
			<string>alpha</string>
			<key>speed</key>
			<integer>1</integer>
			<key>start</key>
			<string>max</string>
			<key>repeat</key>
			<false/>
			<key>loop</key>
			<false/>
		</dict>
	</array>
	<key>maxAngleOffset</key>
	<integer>0</integer>
	<key>maxLifetime</key>
	<integer>10</integer>
	<key>maxNumBullets</key>
	<integer>1</integer>
	<key>maxSpeed</key>
	<integer>550</integer>
	<key>minAngleOffset</key>
	<integer>0</integer>
	<key>minLifetime</key>
	<integer>10</integer>
	<key>minNumBullets</key>
	<integer>1</integer>
	<key>minSpeed</key>
	<integer>550</integer>
	<key>rateOfFire</key>
	<real>0.5</real>
	<key>sprite</key>
	<string>redbullet.png</string>
	<key>blend</key>
	<false/>
</dict>
</plist>
