<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angles</key>
	<array>
		<integer>0</integer>
		<string>15</string>
		<string>-15</string>
		<string>30</string>
		<string>-30</string>
	</array>
	<key>behaviors</key>
	<array/>
	<key>blend</key>
	<false/>
	<key>maxAngleOffset</key>
	<integer>0</integer>
	<key>maxLifetime</key>
	<integer>2</integer>
	<key>maxNumBullets</key>
	<integer>1</integer>
	<key>maxSpeed</key>
	<integer>550</integer>
	<key>minAngleOffset</key>
	<integer>0</integer>
	<key>minLifetime</key>
	<integer>2</integer>
	<key>minNumBullets</key>
	<integer>1</integer>
	<key>minSpeed</key>
	<integer>550</integer>
	<key>rateOfFire</key>
	<real>0.5</real>
	<key>sprite</key>
	<string>redbullet.png</string>
	<key>damage</key>
	<real>8.333</real>
	<key>sound</key>
	<string>spreadgun.wav</string>
	<key>volume</key>
	<integer>1</integer>
	<key>particles</key>
	<string>machinegunBlast.plist</string>
	<key>collisionShape</key>
	<string>redbullet</string>
</dict>
</plist>
