<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>type</key>
	<string>walking</string>
	<key>tileCenterOffset</key>
	<integer>14</integer>
	<key>health</key>
	<integer>3</integer>
	<key>gravity</key>
	<integer>40</integer>
	<key>speed</key>
	<dict>
		<key>x</key>
		<integer>-150</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>coins</key>
	<integer>5</integer>
	<key>collisionShape</key>
	<string>monster1_1</string>
	<key>animation</key>
	<string>enemy1</string>
</dict>
</plist>
