<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angles</key>
	<array>
		<integer>0</integer>
	</array>
	<key>behaviors</key>
	<array>
		<dict>
			<key>curve</key>
			<string>easeInOutSine</string>
			<key>loop</key>
			<true/>
			<key>maxMaxValue</key>
			<array>
				<integer>30</integer>
			</array>
			<key>maxMinValue</key>
			<array>
				<integer>-30</integer>
			</array>
			<key>minMaxValue</key>
			<array>
				<integer>30</integer>
			</array>
			<key>minMinValue</key>
			<array>
				<integer>-30</integer>
			</array>
			<key>property</key>
			<string>y</string>
			<key>repeat</key>
			<true/>
			<key>speed</key>
			<real>0.5</real>
			<key>start</key>
			<string>min</string>
		</dict>
	</array>
	<key>maxAngleOffset</key>
	<integer>0</integer>
	<key>maxLifetime</key>
	<real>6.5</real>
	<key>maxNumBullets</key>
	<integer>1</integer>
	<key>maxSpeed</key>
	<integer>500</integer>
	<key>minAngleOffset</key>
	<integer>0</integer>
	<key>minLifetime</key>
	<real>6.5</real>
	<key>minNumBullets</key>
	<integer>1</integer>
	<key>minSpeed</key>
	<integer>500</integer>
	<key>rateOfFire</key>
	<real>0.05</real>
	<key>sprite</key>
	<string>bullet.png</string>
</dict>
</plist>
