<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<dict>
		<key>max</key>
		<integer>0</integer>
		<key>min</key>
		<integer>0</integer>
	</dict>
	<key>graphic</key>
	<string>ultralaser.png</string>
	<key>lifetime</key>
	<dict>
		<key>max</key>
		<integer>6</integer>
		<key>min</key>
		<integer>6</integer>
	</dict>
	<key>maxSpeed</key>
	<integer>400</integer>
	<key>minSpeed</key>
	<integer>400</integer>
	<key>numBulletsToFire</key>
	<integer>1</integer>
	<key>rateOfFire</key>
	<real>0.001</real>
</dict>
</plist>
