<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>downAngle</key>
	<integer>-30</integer>
	<key>shots</key>
	<array/>
	<key>lasers</key>
	<array>
		<string>testLaser</string>
	</array>
	<key>sprite</key>
	<string></string>
	<key>straightAngle</key>
	<integer>0</integer>
	<key>torsoDownOffset</key>
	<dict>
		<key>x</key>
		<integer>36</integer>
		<key>y</key>
		<integer>-72</integer>
	</dict>
	<key>torsoOffset</key>
	<dict>
		<key>x</key>
		<integer>40</integer>
		<key>y</key>
		<integer>-48</integer>
	</dict>
	<key>torsoUpOffset</key>
	<dict>
		<key>x</key>
		<integer>36</integer>
		<key>y</key>
		<integer>-2</integer>
	</dict>
	<key>upAngle</key>
	<integer>40</integer>
	<key>shop</key>
	<dict>
		<key>cost</key>
		<string>1481648</string>
		<key>description</key>
		<string>Complete Chaos</string>
		<key>icon</key>
		<string>ultralasericon.png</string>
		<key>name</key>
		<string>DEATH BEAM</string>
		<key>identifier</key>
		<string>ultraLaser</string>
		<key>type</key>
		<string>weapon</string>
	</dict>
</dict>
</plist>
